{% extends 'base.html' %}
{% block content %}

<h1>Quote Sociali per l'anno 2020</h1>

<h3>Quote:</h3>
<p>Soci Ordinari: <b>43.00 Euro</b></p>
<p>Soci Ordinari tra i 18 e 25 Anni: <b>22.00 Euro</b></p>
<p>Soci Famigliari: <b>22.00 Euro</b></p>
<p>Soci Famigliari Giovani: <b>16.00 Euro</b>, dal secondo 9.00 Euro</p>

<div class="annuncio">
    <p>Si ricorda che senza il bollino 2018 la copertura assicurativa scadrà a Marzo 2019</p>
</div>

<hr>

<h2>Condizioni della Polizza Assicurativa Infortuni</h2>

<p>Il Club Alpino Italiano offre sia ai Soci che ai non Soci polizze assicurative molto interessanti e convenienti, ideali
per chi vuol praticare le attività organizzate dalle Sezioni.</p>

<h3>Per i Soci</h3>

<p>L'iscrizione al CAI attiva automaticamente le coperture assicurative relative a:</p>

<ul>
    <li>
    <b>Infortuni Soci:</b> assicura i Soci nell'attività sociale per infortuni 
    (morte, invalidità permanente e rimborso spese di cura). 
    E' valida <b>ESCLUSIVAMENTE</b> in attività organizzata dal CAI.<br>
    Viene attivata direttamente con l'iscrizione al CAI.
    </li>

    <li>
    <b>Infortuni personale Istruttori e Aiuto-Istruttori:</b> assicura Istruttori ed
    Accompagnatori Nazionali per infortuni (morte, invalidità permanente, rimborso spese 
    di cura e diaria giornaliera da ricovero).<br>
    N.B.: per gli istruttori sezionali la copertura è a richiesta, attivabile tramite il 
    modulo 4 (scaricabile all'indirizzo 
    <a href="http://www.cai.it/index.php?id=764&amp;L=0">http://www.cai.it/index.php?id=764&L=0</a>)
    </li>

    <ul>
        <li><b>Novità per le polizze infortuni:</b> la franchigia invalidità permanente è abbassata <b>dal 5% al 3%</b>.</li>
    </ul>

    <li>
    <b>Soccorso Alpino:</b> prevede per i Soci il rimborso di tutte le spese
    sostenute nell'opera di ricerca, salvataggio e/o recupero, sia tentata che compiuta. 
    E' valida sia in attività organizzata dal CAI che personale.<br>
    Viene attivata direttamente dalla Sede Centrale.
    </li>

    <ul>
        <li><b>Novità:</b> il massimale per Socio è aumentato <b>da 20.000 a 25.000 Euro</b> e il massimale catastrofale <b>da 45.000 a 500.000 Euro</b>.</li>
    </ul>

    <li>
    <b>Responsabilità civile:</b> assicura il Club Alpino Italiano, le Sezioni e i
    partecipanti ad attività sezionali, i Raggruppamenti Territoriali, gli Organi 
    Tecnici Centrali e Periferici. E' valida <b>ESCLUSIVAMENTE</b> in
    attività organizzata dal CAI.<br>
    Mantiene indenni gli assicurati da quanto siano tenuti a pagare a titolo di 
    risarcimento per danni involontariamente causati a terzi e
    per danneggiamenti a cose e/o animali.<br>
    Viene attivata direttamente dalla Sede Centrale.<br>
    </li>

    <ul>
        <li><b>Novità:</b> il massimale è aumentato a 5 milioni di Euro.</li>
    </ul>

    <li>
    <b>Tutela legale:</b> assicura le Sezioni e i loro Presidenti, i componenti
    dei Consigli Direttivi ed i Soci iscritti.<br>
    Difende gli interessi degli assicurati in sede giudiziale per atti compiuti involontariamente.<br>
    Per Presidenti e Consiglieri vale anche per delitti dolosi se verrà accertata l'assenza di dolo.<br>
    Viene attivata direttamente e gratuitamente dalla Sede Centrale.<br>
    </li>

    <ul>
        <li><b>Novità:</b> il massimale è più alto, pari a 15.000 Euro.</li>
    </ul>

    <li>
    <b>Soccorso Spedizioni Extraeuropee:</b> assicura i Soci di spedizioni
    organizzate o patrocinate dal Club Alpino Italiano e dalle sue Sezioni in Paesi Extraeuropei.<br>
    Rimborsa le spese per la ricerca, il trasporto sanitario dal luogo dell'incidente 
    al centro ospedaliero, e il trasferimento delle salme fino al luogo della sepoltura.<br>
    Rimborsa le spese farmaceutiche, chirurgiche, di ricovero, il prolungamento del soggiorno in albergo.<br>
    Viene attivata su richiesta specifica della Sezione organizzatrice o patrocinante tramite il modulo 6.<br>
    </li>

    <ul>
        <li><b>Novità:</b> è attivata anche per le spedizioni in solitaria.</li>
    </ul>
</ul>

<h3>Per i non Soci:</h3>

<p>É possibile attivare, a richiesta ed <b>ESCLUSIVAMENTE</b> per attività organizzata dal CAI, 
l'assicurazione anche per i non soci con copertura dei seguenti eventi:.
<ul>
    <li><b>Infortuni:</b> assicura i non Soci nell'attività sociale per infortuni 
    (morte, invalidità permanente e rimborso spese di cura).</li>
    <li><b>Soccorso alpino:</b> prevede il rimborso di tutte le spese sostenute 
    nell'opera di ricerca, salvataggio e/o recupero, sia tentata che compiuta.</li>
</ul>

{% endblock %}