    <!-- ABOUT -->
    <div id="About_Modal" class="background">
        <div class="modal small">
            <div class="title">
                <span></span>
                <h2>CAI Prenota</h2>
                <span class="close" onclick="javascript:hideModal('About_Modal');">&times;</span>
            </div>
            <div class="body center">

                <p>Questo sito è online da Aprile 2016 si trova attualmente alla sua versione</p>
                <h2>5.0.0</h2>
                <p><br>Se avete riscontrato dei problemi nell'utilizzo di questo sito 
                siete pregati di contattare il webmaster dei CAI Sovico all'indirizzo:</p>
                <p><b>webmaster@caisovico.it</b></p>
                <hr>
                <p>Progettato e realizzato da</p>
                <h5><a href="https://cn.linkedin.com/in/zansara/it"><b>Sara Zanzottera</b></a></h5>

            </div>
            <div class="footer center">
                <a class="btn" href="#" onclick="javascript:hideModal('About_Modal');">Ok</a>
            </div>
        </div>
    </div>