    <!-- ADVANCED -->
    <div id="Advanced_Modal" class="background">
        <div class="modal small">
            <div class="title">
                <span></span>
                <h2>Funzioni Avanzate</h2>
                <span class="close" onclick="javascript:hideModal('Advanced_Modal');">&times;</span>
            </div>

            <div class="body">
    
                    <div class="row">
                        <a href="{{ url_for('prenotazioni') }}">Calendario</a>
                        <p>Genera una tabella stampabile delle prenotazioni di ogni gestore.</p>
                    </div>
                    <hr>
                    <div class="row">
                        <a href="{{ url_for('ospiti') }}">Tabella Ospiti</a>
                        <p>Genera una tabella stampabile di tutti gli ospiti che hanno pernottato al rifugio durate questa stagione.</p>
                    </div>

            </div>

            <div class="footer center">
                <a href="#" class="btn" onclick="javascript:hideModal('Advanced_Modal');">Chiudi</a>
            </div>

        </div>
    </div>
      