{% extends 'base.html' %}
{% block content %}

    <div id="prenotazioni">
        <h1>Prenotazioni {{anno}}</h1>
        
        <!-- MAIN TABLE -->
        <div class="table-container" style="overflow-x:auto;">
        <table>
            <thead>
                <tr class="header">
                    <th class='giorno'>Data</th>
                    <th class='gestore'>Gestore</th>
                    <th class='letto' colspan=10>Letti</th>
                    <th class="emergenza" colspan=6>Emergenza</th>
                </tr>
            </thead>
            <tbody>
            {% for giorno, dettagli in calendario.items() %}
                <tr id='{{giorno}}'>
                    {# Date cell #}
                    <td 
                        {% if giorno.weekday() == 5 %} style='color:blue;' {% endif %}
                        {% if giorno.weekday() == 6 %} style='color:red;' {% endif %}
                        {% if giorno.month == 8 and giorno.day == 15 %} style='color:red; text-decoration:underline;' {% endif %}
                    > 
                        {{ giorno.strftime("%d %b").title() }}
                    </td>
                    
                    {# Gestore cell #}
                    {% if not dettagli.gestore %} 
                    <td>---</td>
                    {% else %}
                        {% if current_user.is_anonymous%}
                        <td>
                            {{dettagli.gestore.nome[:10]}}{% if dettagli.gestore.nome|length > 10%}...{%endif%}
                        </td>
                        {% else %}
                        <td onclick="javascript:modificaPrenotazione({{dettagli.gestore.id}});">
                            {{dettagli.gestore.nome[:10]}}{% if dettagli.gestore.nome|length > 10%}...{%endif%}
                        </td>
                        {% endif %}
                    {% endif %}

                    {# Prenotazioni cells #}
                    {% set posti_occupati = namespace(value=0) %}

                    {% for prenotazione in dettagli.prenotazioni %}
                        {% for posto in range(prenotazione.posti) %}

                            {% set posti_occupati.value = posti_occupati.value + 1 %}

                            {% if current_user.is_anonymous %}
                            <td style="background-color:#ffddbb;">
                                <i class="fas fa-times" style="color: red;"></i>
                            </td>
                            {% else %}
                            <td class="occupato p-{{prenotazione.id}}" 
                                style='background:{{ prenotazione.colore }}; 
                                        {% if nuova_prenotazione["id"] == prenotazione.id %} 
                                            border: blue 4px solid; 
                                        {% endif %}'
                                onclick="javascript:modificaPrenotazione({{prenotazione.id}});"
                                onmouseover="javascript:highlightPrenotazione({{prenotazione.id}});"
                                onmouseout="javascript:dehighlightPrenotazione({{prenotazione.id}});">
                                {{ prenotazione.nome[:2] }}
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for posto_libero in range(16-posti_occupati.value) %}
                        <td></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        {% if current_user.is_anonymous %}
            {% include "prenotazioni/about_modal.html" %}
            {% include "prenotazioni/login_modal.html" %}   
        {% else %}
            {% include "prenotazioni/nuova_modal.html" %}
            {% include "prenotazioni/modifica_modal.html" %}
            {% include "prenotazioni/cerca_modal.html" %}
            {% include "prenotazioni/turno_modal.html" %}
        {% endif %}

        {% if nuova_prenotazione %}
            {% with prenotazione = nuova_prenotazione %}
                {% include "prenotazioni/conferma_modal.html"%}
            {% endwith %}
        {% endif %}

        
        <div class="footer">
        {% if current_user.is_anonymous %}
            <a href="#" class="btn" onclick="javascript:showModal('About_Modal');">
                <i class="fas fa-info-circle"></i>
                <span>About</span>
            </a>
            <a href="#" class="btn" onclick="javascript:showModal('Login_Modal');">
                <i class="fas fa-lock"></i>
                <span>Area Riservata</span>
            </a>
        {% else %}
            <a class="btn" href="#" onclick="javascript:showModal('Nuova_Modal');">
                <i class="fas fa-pencil-alt"></i>
                <span>Nuova</span>
            </a>
            <a class="btn" href="#" onclick="javascript:showModal('Cerca_Modal');">
                <i class="fas fa-search"></i>
                <span>Cerca</span>
            </a>
            <a class="btn" href="#" onclick="javascript:showModal('Turno_Modal');">
                <i class="fas fa-calendar"></i>
                <span>Turno</span>
            </a>
            <a class="btn" href="/rifugio/prenotazioni/ospiti">
                <i class="fas fa-user"></i>
                <span>Ospiti</span>
            </a>
            <a class="btn" href="/rifugio/prenotazioni/logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        {% endif %}
        </div> 
    </div> 

{% endblock %}
<!--/body>
</html-->