<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - CAI Sovico</title>
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='javascript/jQuery/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}"></script>

</head>
<body style="margin:20px;">

    <h2> {{ title }}</h2>
    <hr>
    
    <p>In questa stagione ci sono state in totale <b>{{ num_prenotazioni }} prenotazioni</b>, di cui {{ num_gestioni }} gestioni.</p>
    
    <a class="btn btn-default" href="/">Torna Indietro</a>
    <hr>

    <table class="table table-bordered">
      <tr class="active">
	    <td>Num. Pren.</td>
        <td>Nome Cliente</td>
        <td>№ Telefono</td>
        <td>Provincia</td>
        <td>Data Arrivo</td>
        <td>Durata Soggiorno</td>
        <td>Posti Prenotati</td>
        <td>È una gestione?</td>
        <td>Nome Responsabile</td>
        <td>Note</td>
        <td>Cani?</td>
      </tr>
    
      {% for prenotazione in prenotazioni %}
        <tr {% if prenotazione.is_gestione %}class="danger"{% endif %}>
            <td>{{ prenotazione.id }}</td>
            <td>{{ prenotazione.nome }}</td>
            <td>{{ prenotazione.telefono }}</td>
            <td>{{ prenotazione.provincia }}</td>
            <td>{{ prenotazione.arrivo }}</td>
            <td>{{ prenotazione.durata }}</td>
            <td>{% if prenotazioni.is_gestione %}--{% else %}{{ prenotazione.durata }}{% endif %}</td>
            <td>{% if prenotazioni.is_gestione %}Sì{% else %}No{% endif %}</td>
            <td>{{ prenotazione.responsabile }}</td>
            <td>{{ prenotazione.note }}</td>
            <td>{% if prenotazioni.have_cane %}Sì{% else %}No{% endif %}</td>
        </tr>
      {% endfor %}
      </table>
    
    <a class="btn btn-default" href="{{ url_for('index') }}">Torna Indietro</a>
    
</body>
</html>