{% extends 'en/base.html' %}
{% block content %}

<h1>How to reach the hut</h1>

<h3>1. How to reach the starting point in Chiareggio</h3>

<p>
When you reach the city of Sondrio, turn north following the indication for <b>Chiesa in Valmalenco</b>. 
Once you have passed the city of Chiesa, you continue to village of San Giuseppe, 
after which you will continue along a narrow road to reach Chiareggio. 
Beyond the village you can find a good and ample parking on the side of the Mallero stream.
</p>
<p>Click here to see the precise location of the parking on
<a href="https://goo.gl/maps/48k7zuNuV8icgjDa8">Google Maps</a> or on
<a href="https://www.openstreetmap.org/?mlat=46.31367&mlon=9.77857#map=18/46.31367/9.77857">OpenStreetMaps</a>.</p>

<img alt="The hut seen from Chiareggio" src="/static/images/rifugio/sentieri/rifugio-visto-da-chiareggio.jpg">

<h3>2. The trails</h3>

<p>Once you reached the starting points, there are several trails you can follow:

<ul>
<li><p>
  <a href="/static/assets/pdf/rifugio/en/alpi_vazzeda_trail 301-305_b.pdf">"Alpi Vazzeda" trail 301-305</a> (get the
  <a href="/static/assets/gpx/sentiero_alpi_vazzeda 301-305.gpx?forcedownload=1" download >gpx</a>)<br>
  The classic trail to reach the hut. Follows the path for the 3rd stop of Valmalenco's "Alta Via"
</p></li>
<li><p>
  <a href="/static/assets/pdf/rifugio/en/altavia_trail_through_val_sissone av301-305_b.pdf">"Alta Via" trail through Val Sissone AV301-305</a> (get the
  <a href="/static/assets/gpx/sentiero_altavia_val_sissone av301-305.gpx?forcedownload=1" download >gpx</a>)<br>
  This trail passes in front of the Disgrazia glacier. Very beautiful scenery, especially from the hut down to the valley.
</p></li>
<li><p>
  <a href="/static/assets/pdf/rifugio/en/alpe_sissone_trail 325_b.pdf">"Alpe Sissone" trail 325</a> (get the
  <a href="/static/assets/gpx/sentiero_alpe_sissone 325.gpx?forcedownload=1" download >gpx</a>)<br>
  The shortest trail to reach the hut. Includes some very steep sections.
</p></li>
</ul>
</p>

<h3>3. Circular trails and other trails</h3>

<p>Despite its apparently remote location, the hut is part of Valmalenco's Alta Via and it's the starting 
point of direct trails to other huts in the area.

<ul>

<li><p>
  <a href="/static/assets/pdf/rifugio/anello_dei_2rifugi_b.pdf">Circular trail to Forni Hut (Switzerland)</a> (get the
  <a href="/static/assets/gpx/anello_dei_2rifugi_b.gpx?forcedownload=1" download >gpx</a>)<br>
Recently opened and still unofficial, goes to Forni Hut (in Switzerland) through the Forno Pass and returns 
through the Vazzeda Pass. <b>Suitable for properly equipped, expert hikers only</b>. PDF available in Italian only (WIP).
</p></li>
<li><p>
  <a href="/static/assets/pdf/rifugio/sentiero_del-grande_longoni 326-328-305_b.pdf">Trail to Longoni Hut through Alpe dell'Oro</a> (get the
  <a href="/static/assets/gpx/sentiero_del-grande_longoni 326-328-305_b?forcedownload=1" download >gpx</a>)<br>
  If you are already following the "Alta Via" route and you are heading for 
  Rif. Longoni from our hut, this is the best path without go down to Chiareggio. PDF available in Italian only (WIP).
</p></li>
<li><p>
  <a href="/static/assets/pdf/rifugio/sentiero_italia_tappa 291b_b.pdf">"Sentiero Italia" stop 291B</a> (get the
  <a href="/static/assets/gpx/sentiero_italia_tappa 291b_b?forcedownload=1" download >gpx</a>)<br>
  Gerli-Porro Hut (1960m); Forbicina (1620m); Del Grande Camerini Hut (2580m); Chiareggio (1610m). PDF available in Italian only (WIP).
</p></li>

</ul>
</p>

<img alt="Map of the trails" src="/static/images/rifugio/sentieri/cartina-sentieri.jpg">

{% endblock %}