{% extends 'en/base.html' %}
{% block content %}

<h1>The History of the Hut</h1>

<p>
The Mario Del Grande - Remo Camerini Hut is named after two mountain climbers: 
Mario Del Grande, who died on Rasica Peak in 1936, and Remo Camerini, who died 
on the southern side of Mount Grigna in 1926. The hut was built in 1937 by a 
group of friends. They later donated it to the Milan's branch of the Italian Alpine Club. 

The hut could not be used for a long time because of vandalism and weather damage.
</p>

<div id="carousel-1" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-1');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Building the foundations of the hut (1936)" src="/static/images/rifugio/storia/1936-inizio-costruzione.jpg">
      <p>Building the foundations of the hut (1936)</p>
    </div>
    <div class="slide">
      <img alt="The hut just completed (1937)" src="/static/images/rifugio/storia/1937-inaugurazione.jpg">
      <p>The hut just completed (1937)</p>
    </div>
    <div class="slide">
      <img alt="Visitors (1941)" src="/static/images/rifugio/storia/1941-foto.jpg">
      <p>Visitors (1941)</p>
    </div>
    <div class="slide">
      <img alt="Family of hikers from Milan (1953)" src="/static/images/rifugio/storia/1953-famiglia-milano.jpg">
      <p>Family of hikers from Milan (1953)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-1');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>
In 2001 the Italian Alpine Club handed the property over to the Sovico's branch,
that at the time was looking for a hut to run.

Thanks to the initiatives and the passion of its members, the hut was completely restored.
The structure consisted only of a single, small room with a stove, a table, and eigth beds,
four of which on a gallery.
</p>

<div id="carousel-2" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-2');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="First trip of the Sovico hikers after the handover (1985)" src="/static/images/rifugio/storia/1985-primi-sovicesi.jpg">
      <p>First visit by the Sovico branch members after the handover (1985)</p>
    </div>
    <div class="slide">
      <img alt="One of the first color pictures of the hut (1985)" src="/static/images/rifugio/storia/1985-prime-foto-colori.jpg">
      <p>One of the first color pictures of the hut (1985)</p>
    </div>
    <div class="slide">
      <img alt="The new tin closet (1990)" src="/static/images/rifugio/storia/1990-ripostiglio-lamiera.jpg">
      <p>The new tin closet (1990)</p>
    </div>
    <div class="slide">
      <img alt="The new emergency phone ('90)" src="/static/images/rifugio/storia/199x-installazione-telefono.jpg">
      <p>The new emergency phone ('90)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-2');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>
From 2004 to 2005, the Sovico's branch volunteers expanded the hut and built a bathroom, 
a kitchen, a cellar and a small room for its staff. Extension works strictly followed the 
Alpine CLub's guidelines, in order to keep the hut as close as possible to its original 
appearance and do not increase too much the number of beds available.
</p>

<div id="carousel-3" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-3');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Inauguration of the hut at the end of the renovation works." src="/static/images/rifugio/storia/inaugurazione.jpg">
      <p>Inauguration of the hut at the end of the renovation works.</p>
    </div>
    <div class="slide">
      <img alt="The hut after the renovation works." src="/static/images/rifugio/storia/200x-rifugio-finito.jpg">
      <p>The hut after the renovation works</p>
    </div>
    <div class="slide">
      <img alt="The winter room" src="/static/images/rifugio/storia/2012-2013-bivacco.jpg">
      <p>The winter room, completed in 2013</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-3');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>Although three times bigger now, the hut remains a small and simple accomodation, respecting 
the mountain environment and offering breathtaking views over the Disgrazia glacier and the Vazzeda Peak. 
</p>

<hr>

<h2>Photo archive</h2>


<h3>Works from 2015 to date</h3>

<div id="carousel-8" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-8');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Restoration of the roof with a new copper cover" src="/static/images/rifugio/storia/lavori/f_rif_lav5_tetto.jpg">
      <p>Restoration of the roof with a new copper cover</p>
    </div>
    <div class="slide">
      <img alt="Replacement of the chimney for a better operation" src="/static/images/rifugio/storia/lavori/f_rif_lav5_camino.jpg">
      <p>Replacement of the chimney for a better operation</p>
    </div>
    <div class="slide">
      <img alt="New and larger wastewater filter" src="/static/images/rifugio/storia/lavori/f_rif_lav5_filtro.jpg">
      <p>New and larger wastewater filter</p>
    </div>
    <div class="slide">
      <img alt="Enhanced electrical panel to manage the different energy sources" src="/static/images/rifugio/storia/lavori/f_rif_lav5_q-elettrico.jpg">
      <p>Enhanced electrical panel to manage the different energy sources</p>
    </div>
    <div class="slide">
      <img alt="Installed a mini hydraulic turbine to generate electricity" src="/static/images/rifugio/storia/lavori/f_rif_lav5_turbina.jpg">
      <p>Installed a mini hydraulic turbine to generate electricity</p>
    </div>
    <div class="slide">
      <img alt="Removable shed for the kitchen door" src="/static/images/rifugio/storia/lavori/f_rif_lav5_tettoia.jpg">
      <p>Removable shed for the kitchen door</p>
    </div>
    <div class="slide">
      <img alt="Panoramic photo with the names of the peaks visible from the hut" src="/static/images/rifugio/storia/lavori/f_rif_lav5_fotomonti.jpg">
      <p>Panoramic photo with the names of the peaks visible from the hut</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-8');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>


<h3>The works made in 2012 for the new winter room and the guest's bathroom.</h3>

<div id="carousel-7" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-7');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="The transport of construction equipment at the hut" src="/static/images/rifugio/storia/lavori/f_rif_lav4_trasporto.jpg">
      <p>The transport of construction equipment at the hut</p>
    </div>
    <div class="slide">
      <img alt="Starting the works with the removal of some rocks near to the hut" src="/static/images/rifugio/storia/lavori/f_rif_lav4_scavi.jpg">
      <p>Starting the works with the removal of some rocks near to the hut</p>
    </div>
    <div class="slide">
      <img alt="Construction of the wooden roof" src="/static/images/rifugio/storia/lavori/f_rif_lav4_tetto.jpg">
      <p>Construction of the wooden roof</p>
    </div>
    <div class="slide">
      <img alt="Overall view of hut with the winter room" src="/static/images/rifugio/storia/lavori/f_rif_lav4_finito.jpg">
      <p>Overall view of hut with the winter room</p>
    </div>
    <div class="slide">
      <img alt="Internal view of the winter room" src="/static/images/rifugio/storia/lavori/f_rif_lav4_interno1.jpg">
      <p>Internal view of the winter room</p>
    </div>
    <div class="slide">
      <img alt="Internal view of the bivouac with 4 beds" src="/static/images/rifugio/storia/lavori/f_rif_lav4_interno2.jpg">
      <p>Internal view of the winter room with 4 beds</p>
    </div>
    <div class="slide">
      <img alt="The small steel dam for taking water" src="/static/images/rifugio/storia/lavori/f_rif_lav4_diga.jpg">
      <p>The small steel dam for taking water</p>
    </div>
    <div class="slide">
      <img alt="The new boxes to cover the garbage cans" src="/static/images/rifugio/storia/lavori/f_rif_lav4_cassoni.jpg">
      <p>The new boxes to cover the garbage cans</p>
    </div>
    <div class="slide">
      <img alt="New microeolic generator integrate to the solar generator" src="/static/images/rifugio/storia/lavori/f_rif_lav4_eolico.jpg">
      <p>New microeolic generator integrate to the solar generator</p>
    </div>
    <div class="slide">
      <img alt="Ducts of hot air to heat the guardians zone" src="/static/images/rifugio/storia/lavori/f_rif_lav4_riscalda.jpg">
      <p>Ducts of hot air to heat the guardians zone</p>
    </div>
    <div class="slide">
      <img alt="Imhoff tank discharge filter" src="/static/images/rifugio/storia/lavori/f_rif_lav4_filtro.jpg">
      <p>Imhoff tank discharge filter</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-7');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<h3>Renovation works made from 2008 till 2011</h3>

<div id="carousel-6" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-6');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="The new fence for the rubbish can be moved away" src="/static/images/rifugio/storia/lavori/f_rif_lav3_recinto.jpg">
      <p>The new fence for the rubbish can be moved away</p>
    </div>
    <div class="slide">
      <img alt="The poweful stove, equipped with a oven used to bake bread and cakes" src="/static/images/rifugio/storia/lavori/f_rif_lav3_stufa.jpg">
      <p>The poweful stove, equipped with a oven used to bake bread and cakes</p>
    </div>
    <div class="slide">
      <img alt="Wood doors to keep dry the wood stored under the balcony" src="/static/images/rifugio/storia/lavori/f_rif_lav3_antoni.jpg">
      <p>Wood doors to keep dry the wood stored under the balcony</p>
    </div>
    <div class="slide">
      <img alt="The newer and bigger tub for water storing and purification" src="/static/images/rifugio/storia/lavori/f_rif_lav3_vasca.jpg">
      <p>The newer and bigger tub for water storing and purification</p>
    </div>
    <div class="slide">
      <img alt="Installing new pipes for a new hydraulic system" src="/static/images/rifugio/storia/lavori/f_rif_lav3_tubo.jpg">
      <p>Installing new pipes for a new hydraulic system</p>
    </div>
    <div class="slide">
      <img alt="Installation of a new air intake into the kitchen door" src="/static/images/rifugio/storia/lavori/f_rif_lav3_porta.jpg">
      <p>Installation of a new air intake into the kitchen door</p>
    </div>
    <div class="slide">
      <img alt="The corridor leading to the inner rooms is tiled" src="/static/images/rifugio/storia/lavori/f_rif_lav3_piastrella.jpg">
      <p>The corridor leading to the inner rooms is tiled</p>
    </div>
    <div class="slide">
      <img alt="The 'garden', covered in soil and freshly sown" src="/static/images/rifugio/storia/lavori/f_rif_lav3_prato.jpg">
      <p>The 'garden', covered in soil and freshly sown</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-6');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<h3>Works made from 2005 to the inauguration in 2008.</h3>

<div id="carousel-5" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-5');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="The excavations near the old building" src="/static/images/rifugio/storia/lavori/f_rif_lav2_demolizioni.jpg">
      <p>The excavations near the old building</p>
    </div>
    <div class="slide">
      <img alt="The helicopter bringing reinforced concrete up to the yard" src="/static/images/rifugio/storia/lavori/f_rif_lav2_elicemento.jpg">
      <p>The helicopter bringing reinforced concrete up to the yard</p>
    </div>
    <div class="slide">
      <img alt="Building the floor of the new part of the hut" src="/static/images/rifugio/storia/lavori/f_rif_lav2_soletta.jpg">
      <p>Building the floor of the new part of the hut</p>
    </div>
    <div class="slide">
      <img alt="Building the roof" src="/static/images/rifugio/storia/lavori/f_rif_lav2_tetto.jpg">
      <p>Building the roof</p>
    </div>
    <div class="slide">
      <img alt="The building is almost finished, except for the internal works" src="/static/images/rifugio/storia/lavori/f_rif_lav2_quasifinito.jpg">
      <p>The building is almost finished, except for the internal works</p>
    </div>
    <div class="slide">
      <img alt="The new floor in the old hut" src="/static/images/rifugio/storia/lavori/f_rif_lav2_pavimento.jpg">
      <p>The new floor in the old hut</p>
    </div>
    <div class="slide">
      <img alt="The solar panels, which give electrical energy to the hut" src="/static/images/rifugio/storia/lavori/f_rif_lav2_pannelli.jpg">
      <p>The solar panels, which give electrical energy to the hut</p>
    </div>
    <div class="slide">
      <img alt="The main panel of the electrical system, which gives 220V 600W" src="/static/images/rifugio/storia/lavori/f_rif_lav2_quadro.jpg">
      <p>The main panel of the electrical system, which gives 220V 600W</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-5');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

<h3>Historical pictures of the works made on the hut from 1984 (acquisition by CAI Sovico) till 2005</h3>

<div id="carousel-4" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-4');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Building the first bivouac/storage" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cost_bivacco.jpg">
      <p>Building the first bivouac/storage</p>
    </div>
    <div class="slide">
      <img alt="The hut at the end of the works" src="/static/images/rifugio/storia/lavori/f_rif_lav1_bivacco_finito.jpg">
      <p>The hut at the end of the works</p>
    </div>
    <div class="slide">
      <img alt="The first, little bathroom (which had a wonderful panorama)" src="/static/images/rifugio/storia/lavori/f_rif_lav1_primo_bagno.jpg">
      <p>The first, little bathroom (which had a wonderful panorama)</p>
    </div>
    <div class="slide">
      <img alt="Builing a little metal kitchen #1" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cucina1.jpg">
      <p>Builing a little metal kitchen #1</p>
    </div>
    <div class="slide">
      <img alt="Builing a little metal kitchen #2" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cucina2.jpg">
      <p>Builing a little metal kitchen #2</p>
    </div>
    <div class="slide">
      <img alt="Installation an emergency telephone station" src="/static/images/rifugio/storia/lavori/f_rif_lav1_telefono.jpg">
      <p>Installation an emergency telephone station</p>
    </div>    
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-4');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}