{% extends 'en/base.html' %}
{% block content %}

<h1> The Hut Del Grande - Remo Camerini </h1>

<div class="annuncio">
  <h2>THE HUT WILL OPEN ON 27/6</h2>
  <p>Overnight stay is not possible. The winter room is closed. Takeaway lunch only (booking is recommended).</p>
</div>

<p>
The hut <b>Mario Del Grande - Remo Camerini</b> is located at 2580m, on the water line between Val 
Sissone and Val Bona in Valmalenco, close to Chiareggio (SO).</p>
<p>
The hut is located on a magnificent spot with clear view over the north side of Mt. Disgrazia.
Is owned by the Italian Alpine Club's branch of Sovico (MB), and is managed during the summer only by
volunteers that alternate every week. 
</p>

<p>Check out the menu for more information on <a href="/en/rifugio/percorsi">how to reach us</a>, 
or visit our social profiles on 
<a href="https://www.facebook.com/Rifugio-Del-Grande-Camerini-897206810341504/">Facebook</a> and
<a href="https://www.instagram.com/rifugiodelgrandecamerini/">Instagram</a>.
We're even on 
<a href="https://www.tripadvisor.com/Hotel_Review-g194736-d15697051-Reviews-Rifugio_del_Grande_Camerini-Chiesa_In_Valmalenco_Province_of_Sondrio_Lombardy.html">Tripadvisor</a>! 
In any case, the best way to contact us is to write to <a href="mailto:webmaster@caisovico.it">our email address</a>. 
During the opening season, you can also reach us by phone at <b>0342 556010</b>.</p> 


<video autoplay controls muted>
  <source src="/static/assets/video/film-intro2.mp4" type="video/mp4">
  Your browser does not allow you to see embedded video. Change Browser!
</video>


<div id="carousel" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="View of the hut, with Mt.Disgrazia on the background" src="/static/images/rifugio/f_rif_foto_vistaext.jpg">
      <p>View of the hut, with Mt.Disgrazia on the background</p>
    </div>
    <div class="slide">
      <img alt="Front view the hut, with new winter room" src="/static/images/rifugio/f_rif_foto_fronte.jpg">
      <p>Front view the hut, with new winter room</p>
    </div>
    <div class="slide">
      <img alt="Inside the hut" src="/static/images/rifugio/f_rif_foto_interno1.jpg">
      <p>Inside the hut</p>
    </div>
    <div class="slide">
      <img alt="Dining corner" src="/static/images/rifugio/f_rif_foto_interno2.jpg">
      <p>Dining corner</p>
    </div>
    <div class="slide">
      <img alt="The gallery with 4 beds" src="/static/images/rifugio/f_rif_foto_soppalco.jpg">
      <p>The gallery with 4 beds</p>
    </div>
    <div class="slide">
      <img alt="Inside the hut by candlelight" src="/static/images/rifugio/f_rif_foto_interno3.jpg">
      <p>Inside the hut by candlelight</p>
    </div>
    <div class="slide">
      <img alt="The new kitchen" src="/static/images/rifugio/f_rif_foto_cucina.jpg">
      <p>The new kitchen</p>
    </div>
    <div class="slide">
      <img alt="Breakfast in the open air" src="/static/images/rifugio/f_rif_foto_panorama.jpg">
      <p>Breakfast in the open air</p>
    </div>
    <div class="slide">
      <img alt="The mountain goat that lives near the hut" src="/static/images/rifugio/f_rif_foto_stambecco.jpg">
      <p>The mountain goat that lives near the hut</p>
    </div>
    <div class="slide">
      <img alt="The marmot that lives here" src="/static/images/rifugio/f_rif_foto_marmotta.jpg">
      <p>The marmot that lives here</p>
    </div>
    <div class="slide">
      <img alt="The outside of the hut in the evening" src="/static/images/rifugio/f_rif_foto_extsera.jpg">
      <p>The outside of the hut in the evening</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<h2>Technical Data</h2>

<div class="due-colonne">

<table>
  <tr>
    <td>Altitude:</td>
    <td>2580ms/lm</td>
  <tr>
  </tr>
    <td>Massif:</td>
    <td>Disgrazia Vazzeda</td>
  <tr>
  </tr>
    <td>Location:</td>
    <td>Bocchetta Piattè di Vazzeda</td>
  <tr>
  </tr>
    <td>Town:</td>
    <td>Chiareggio (SO)</td>
  <tr>
  </tr>
    <td>Coordinates (Lat):</td>
    <td>46°18' 30.95"N</td>
  </tr>
  </tr>
    <td>Coordinates (Long):</td>
    <td>9°44' 31.34"E</td>
  </tr>
</table>

<table>
  <tr>
    <td>First build:</td>
    <td>1937</td>
  <tr>
  </tr>
    <td>Ownership:</td>
    <td>CAI SOVICO</td>
  <tr>
  </tr>
    <td>Beds:</td>
    <td>10 + 2</td>
  <tr>
  </tr>
    <td>Winter room:</td>
    <td>4 beds</td>
  <tr>
  </tr>
    <td>Phone:</td>
    <td>0342 556010</td>
  </tr>
</table>

</div>

{% endblock %}