{% extends 'en/base.html' %}
{% block content %}

<h1> WebCams and Meteo </h1>

<p>The hut is equipped with two webcams and a weather monitoring station.</p>

<h3>Weather Monitor</h3>

<p>Last Update: {{ dati_meteo['Date'] }} at {{ dati_meteo['Time'] }}
 - Status: {{dati_meteo['Status'] }}
</p>

<h3>Main Webcam (Hut and Valley)</h3>
<p>The main webcam overlooks the hut, the Alpi Vazzeda and Chiareggio.
It's meant for hikers that want to check the weather conditions
before departing.</p>
<p>It takes a picture every hour: here below you can see the last three.
To see more, please visit the <a href="#">archive.</a></p>

<div id="carousel-webcam1" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-webcam1');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">previous</span>
  </a>
  
  <div>
    <div class="slide active">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio.jpg">
      <p>Last Picture</p>
    </div>
    <div class="slide">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio1.jpg">
      <p>Previous picture (one hour earlier)</p>
    </div>
    <div class="slide">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio2.jpg">
      <p>Previous picture (two hours earlier)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-webcam1');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Next</span>
  </a>
</div>


<h3>Glacier's Webcam</h3>

<p>The second webcam is pointing towards the north face of Mt. Disgrazia and
it was put in place on request of the the 
<a href="https://www.servizioglaciologicolombardo.it/">
Lombardia's Glaciological Services</a> 
to monitor the glacier. It takes one picture a day.
</p>

<img src="http://www.caisovico.it/rifugio/webcam/webcam_ghi/fotoghiacciaio.jpg">


{% endblock %}