{% extends 'en/base.html' %}
{% block content %}

<h1>The Club</h1>

<div class="annuncio">
  <p>The club's building is temporarily closed due to the COVID-19 emergency.</p>
</div>

<div class="due-colonne">
    <div>
        <h5>Address</h5>
        <p>
        Viale Brianza<br>
        Ex Serra Tagliabue<br>
        20845 SOVICO (MB)<br>
        </p>
        <p>
            <a href="https://goo.gl/maps/emRmT1iGbbAoJruq9">On Google Maps</a><br>
            <a href="https://osm.org/go/0CjWeGqLV?m=">On OpenStreetMap</a>
        </p>
        <h5>E-Mail address</h5>
        <p><a href="mailto:sezione@caisovico.it">sezione@caisovico.it</a></p>
    </div>

    <div>
        <h5>President</h5>
        <p>Vertemati Stefano<br>
            039-2013512
        </p>
        <h5>Vice-President</h5>
        <p>Ferloni Antonio<br>
            320 8429693
        </p>
    </div>
</div>

<img alt="Sede attuale della sezione" src="/static/images/sezione/f_sez_sede.jpg">
<p class="descrizione-foto">Current headquarters</p>

<h2>Responsabilities</h2>
<div class="due-colonne">
    <p><b>President:</b></p> 	
    <p>Stefano Vertemati</p>

    <p><b>Vice-president:</b></p> 	
    <p>Antonio Ferloni</p>

    <p><b>Secretary:</b></p> 
    <p>Stefano Sala</p>

    <p><b>Auditors:</b></p> 	
    <p>Daniele Beccalli,  Canzi Daniela,   Paolo Zanzottera</p>

    <p><b>Hikes' coordinator:</b></p> 
    <p>Liliana Saini</p>

    <p><b>Hut's coordinator:</b></p> 	
    <p>Giorgio Chiusi</p>

    <p><b>Second Hut's coordinator:</b></p>  	
    <p>Paolo Zanzottera</p>

    <p><b>Alpinism coordinator:</b></p>  	
    <p>Stefano Schirru</p>

    <p><b>Hut's supervisor:</b></p>  	
    <p>Angelo Canzi</p>

    <p><b>Event's coordinator:</b></p>  	
    <p>Roberto Piazza</p>

    <p><b>Website:</b></p> 	
    <p>Paolo Zanzottera</p>

    <p><b>Hut's guardian:</b></p>  	
    <p>Weekly rounds among the Club's members</p>
</div>

{% endblock %}