{% extends 'head.html' %}
{% block body %}

<div id="container">

  <!-- Side navigation -->
  <div id="sidenav">
    <div class="title">
      <a href="/"><img src="/static/assets/images/logo-cai-trasparente.png"></a>
      <h1>Club Alpino Italiano</h1>
      <h1>Sezione di Sovico</h1>
      <h1 class="mobile-only">CAI Sovico</h1>
      <img class="mobile-only" src="/static/assets/images/hamburger-icon.png" onclick="javascript:toggleMenu();"/>
    </div>
    <div id="menu">

      {% if not selected %} {%set selected = ""%} {% endif %}
      <a href="/" class="principale {%if selected=="home"%}selected{%endif%}">Home</a>
      <a href="/rifugio" class="principale {%if selected=="rifugio"%}selected{%endif%}">Rifugio</a>
      
      {% if selected.startswith("rifugio") %}
      <a href="/rifugio/prenotazioni" class="secondario {%if selected=="rifugio_prenotazioni"%}selected{%endif%}">Prenotazioni</a>
      <a href="/rifugio/sentieri" class="secondario {%if selected=="rifugio_sentieri"%}selected{%endif%}">Sentieri</a>
      <a href="/rifugio/webcam" class="secondario {%if selected=="rifugio_webcam"%}selected{%endif%}">Webcam e Meteo</a>
      <a href="/rifugio/bivacco" class="secondario {%if selected=="rifugio_bivacco"%}selected{%endif%}">Bivacco</a>
      <a href="/rifugio/storia" class="secondario {%if selected=="rifugio_storia"%}selected{%endif%}">Storia</a>
      {% endif %}

      <a href="/sezione" class="principale {%if selected=="sezione"%}selected{%endif%}">Sezione</a>

      {% if selected.startswith("sezione") %}
      <a href="/sezione/bacheca" class="secondario {%if selected=="sezione_bacheca"%}selected{%endif%}">Bacheca</a>
      <a href="/sezione/programmi" class="secondario {%if selected=="sezione_programmi"%}selected{%endif%}">Programmi</a>
      <a href="/sezione/quote" class="secondario {%if selected=="sezione_quote"%}selected{%endif%}">Quote</a>
      <a href="/sezione/storia" class="secondario {%if selected=="sezione_storia"%}selected{%endif%}">Storia</a>
      {% endif %}
    </div>
    <div id="footer">
      {% if url %}
      <p><b>IT - <a href="{{url}}">EN</a></b></p>
      {% endif %}
      <p>
        <a href="mailto:webmaster@caisovico.it">Email</a> - 
        <a href="https://www.instagram.com/rifugiodelgrandecamerini/">Instagram</a> - 
        <a href="https://www.facebook.com/Rifugio-Del-Grande-Camerini-897206810341504/">Facebook</a>
        <p>Copyright 2020 - CAI Sovico</p>
      </p>
    </div>
  </div>

  <div id="main">

    {% block content %}
    {% endblock %}

  </div> 


</div>

{% endblock %}
