{% extends 'base.html' %}
{% block menu %}
      <h2>Home</h2>
      <a href="/rifugio">Rifugio</a>
      <a href="/sezione">Sezione</a>
      <a href="/programmi">Programmi</a>
{% endblock %}
{% block content %}

<h1>Ultimi Avvisi</h1>

<div id="bacheca">

   <div class="postit box">
      <h2>NOTE</h2>
      <p>VENERDI' 18 SETTEMBRE SEDE APERTA</p>
      <p>VENERDI' 25 SETTEMBRE SEDE APERTA</p>
   </div>

   <div class="manifesto">
      <div class="box">
         <img src="/static/images/esempio-foto-webcam.jpg">
         <div class="testo">
            <h2>EMERGENZA COVID-19</h2>
            <p>Prima riga del contenuto dell'annuncio...</p>
         </div>
      </div>
   </div>

   <div class="manifesto">
      <div class="box">
         <img src="/static/images/esempio-foto-webcam.jpg">
         <div class="testo">
            <h2>EMERGENZA COVID-19</h2>
            <p>Prima riga del contenuto dell'annuncio...</p>
            <p>Prima riga del contenuto dell'annuncio...</p>
            <p>Prima riga del contenuto dell'annuncio...</p>
            <p>Prima riga del contenuto dell'annuncio...</p>
         </div>
      </div>
   </div>

   <div class="manifesto">
      <div class="box">
         <img src="/static/images/esempio-foto-webcam.jpg">
         <div class="testo">
            <h2>EMERGENZA COVID-19</h2>
            <p>Prima riga del contenuto dell'annuncio...</p>
         </div>
      </div>
   </div>

    <div class="manifesto">
      <div class="box">
         <img src="/static/images/esempio-foto-webcam.jpg">
         <div class="testo">
            <h2>EMERGENZA COVID-19</h2>
            <p>Prima riga del contenuto dell'annuncio...</p>
         </div>
      </div>
   </div>

    <div class="manifesto">
      <div class="box">
         <img src="/static/images/esempio-foto-webcam.jpg">
         <div class="testo">
            <h2>EMERGENZA COVID-19</h2>
            <p>Prima riga del contenuto dell'annuncio...</p>
            <p>Prima riga del contenuto dell'annuncio...</p>
         </div>
      </div>
   </div>

</div>

{% endblock %}