<html>
<head>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="static/css/style.css"/>



</head>
<body>
<div class="container">

<!-- Side navigation -->
<div class="sidenav">
  <div class="title">
    <img src="/static/images/logo-cai-trasparente.png">
    <h1>CAI Sovico</h1>
  </div>
  <div class="menu">
    <a href="#">Rifugio</a>
    <a href="#">Sezione</a>
    <a href="#">Programmi</a>
    <a href="#">Bacheca</a>
  </div>
  <div class="footer">
    <p>Club Alpino Italiano</p>
    <p>Sezione di SOVICO</p>
    <p><a href="#">English</a></p>
    <p><a href="#">Contatti</a> - <a href="#">Facebook</a> - <a href="#">Email</a></p>
  </div>
</div>

<!-- Page content -->
<div class="main">

  <h1>Homepage</h1>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqyasdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <img src="/static/images/disegno-rifugio.png">
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>
  <p>sdvakefcbiqudwca akhfiwaufiwa ykh ckjwa rkyufkauykqya</p>

</div> 


</div>
</body>
</html>
