{% extends 'rifugio.html' %}
{% block content %}

<h1> Il Rifugio Del Grande Remo Camerini</h1>

<h2>Come arrivare</h2>

<p>Come raggiungere il punto di partenza a Chiareggio</p>
<p> Raggiunta la città di Sondrio si svolta verso nord seguendo le indicazioni per Chiesa in Valmalenco. 
Superato l'abitato di Chiesa si prosegue per la frazione di San Giuseppe, dopodichè proseguendo 
per una stretta strada si raggiunge l'abitato di Chiareggio.
Oltre il paese si può trovare un ampio parcheggio sul fianco del torrente Mallero.</p>

<table>
<tbody>
<tr>
      <td><a href="sentiero_alpi_vazzeda 301-305_b.pdf">Sentiero per le alpi di Vazzeda 301-305</a></td> 
      <td><a href="sentiero_alpi_vazzeda 301-305.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso classico per raggiungere il rifugio seguendo la 3ª tappa dell' Alta Via della Valmalenco</td>
</tr>
<tr>
      <td ><a href="sentiero_altavia_val_sissone av301-305_b.pdf">Sentiero alta via per la val Sissone AV301-305</a></td> 
      <td><a href="sentiero_altavia_val_sissone av301-305.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso lungo, passa sotto la parete nord del M.te Disgrazia e chiude la  3ª tappa dell' Alta Via della Valmalenco; molto panoramico in discesa</td>
</tr>
<tr>
      <td ><a href="sentiero_alpe_sissone 325_b.pdf">Sentiero per l'alpe Sissone 325</a></td> 
      <td><a href="sentiero_alpe_sissone 325.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso breve per raggiungere il rifugio, sale nel bosco dall' Alpe Laresin; presenta alcuni tratti con elevata pendenza</td>
</tr>
<tr>
      <td ><a href="anello_dei_2rifugi_b.pdf">Anello dei 2 rifugi</a></td> 
      <td><a href="anello_dei_2rifugi.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Aperto di recente, permette di raggiungere la Capanna Forno in Svizzera  e di rientrare al nostro rifugio tramite il passo Forno ed il passo Vazzeda ( per escursionisti esperti e attrezzati)a</td>
</tr>
<tr>
      <td ><a href="sentiero_del-grande_longoni 326-328-305_b.pdf"> Sentiero Del Grande Camerini - Rif Longoni</a></td> 
      <td><a href="sentiero_del-grande_longoni 326-328-305.gpx?forcedownload=1" download  ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso che raggiunge il Rif. Longoni passando dall'Alpe dell'Oro senza scendere fino a Chiareggio </td>
</tr>
<tr>
      <td ><a href="sentiero_italia_tappa 291b_b.pdf"> Sentiero Italia tappa 291B</a></td> 
      <td><a href="sentiero_italia_tappa 291b.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Rifugio Gerli-Porro (1960m); Forbicina (1620m); Rifugio DelGrande Camerini (2580m); Chiareggio (1610m) </td>
</tr>
</tbody>
</table>
  
<table>
<tbody>
<tr>
    <td>Foto Rifugio da Chiareggio: <img alt="Rifugio visto da Chiareggio" src="f_rif_map_vista.jpg"></td>
</tr>
<tr>
    <td>Mappa Percorsi: <img alt="Mappa percorsi" src="carta.jpg"></td>    
</tr>
</tbody>
</table>

<h2>Dati Tecnici</h2>
<table>
  <tbody>
    <tr align="center">
      <td colspan="2" rowspan="1">Posizione del rifugio</td>
      <td colspan="2" rowspan="1">Caratteristiche del Rifugio</td>
    </tr>
    <tr>
      <td style="width: 80px;">Altitudine</td>
      <td style="width: 320px;">2580ms/lm</td>
      <td style="width: 140px;">Costruito nel</td>
      <td style="width: 260px;">1937</td>
    </tr>
    <tr>
      <td>Massiccio</td>
      <td>Disgrazia Vazzeda</td>
      <td>Proprietà</td>
      <td>CAI SOVICO</td>
    </tr>
    <tr>
      <td>Località</td>
      <td>Bocchetta Piattè di Vazzeda</td>
      <td>Posti letto </td>
      <td>10 Ospiti+2 Brande</td>
    </tr>
    <tr>
      <td>Comune</td>
      <td>Chiesa Valmalenco (SO) - Chiareggio</td>
      <td>Locale Invernale </td>
      <td>Terminato nel 2013 4 posti letto</td>
    </tr>
    <tr>
      <td>Coordinate</td>
      <td>Lat. 46°18' 30.95"N&nbsp;&nbsp;&nbsp;Long. 9°44' 31.34"E</td>
      <td>Telefono</td>
      <td>0342 / 556010</td>
    </tr>
  </tbody>
</table>

<hr>

{% endblock %}