{% extends 'base.html' %}
{% block content %}

<h1>La Storia del Rifugio Del Grande</h1>


<h2>Storia del Rifugio</h2>

<p>
Il rifugio è situato alla Bocchetta Piattè di Vazzeda (m 2580) nel gruppo Masino-Bregaglia-Disgrazia.
Fu costruito nel 1937 da un gruppo di amici in ricordo di Mario Del Grande, perito sulla Punta 
Rasica nel 1936 e di Remo Camerini, precipitato nel 1926 dal Sigaro in Grigna Meridionale, 
che in seguito lo donarono alla sezione del CAI di Milano.

Più volte ripristinato a seguito di atti di vandalismo e del naturale deterioramento della 
struttura, il bivacco, per le precarie condizioni in cui versava, non poteva essere considerato 
più che un punto d'appoggio in caso di maltempo.
</p>

<div id="carousel-1" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-1');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Inizio costruzione del Rifugio" src="/static/images/rifugio/storia/1936-inizio-costruzione.jpg">
      <p>Costruzione delle fondamenta del rifugio (1936)</p>
    </div>
    <div class="slide">
      <img alt="Il Rifugio appena ultimato (1937)" src="/static/images/rifugio/storia/1937-inaugurazione.jpg">
      <p>Il Rifugio appena ultimato (1937)</p>
    </div>
    <div class="slide">
      <img alt="Visitatori (1941)" src="/static/images/rifugio/storia/1941-foto.jpg">
      <p>Visitatori (1941)</p>
    </div>
    <div class="slide">
      <img alt="Famiglia di visitatori milanesi(1953)" src="/static/images/rifugio/storia/1953-famiglia-milano.jpg">
      <p>Famiglia di escursionisti milanesi (1953)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-1');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<p>
Nel 1985, quel che restava del bivacco fu assegnato dal CAI di Milano ai soci del CAI di 
Sovico che erano in cerca di un rifugio da gestire.

L'intraprendenza e la passione dei soci della piccola sezione briantea permisero, negli anni, 
il recupero e il costante miglioramento della struttura che all'inizio consisteva in un unico 
locale che ospitava la stufa, un tavolo, otto posti letto (di cui quattro su un soppalco) e 
un angolo per cucinare. 
</p>

<div id="carousel-2" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-2');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Prima escursione sovicese dopo l'acquisizione (1985)" src="/static/images/rifugio/storia/1985-primi-sovicesi.jpg">
      <p>Prima escursione sovicese dopo l'acquisizione (1985)</p>
    </div>
    <div class="slide">
      <img alt="Una delle prime foto a colori del Rifugio (1985)" src="/static/images/rifugio/storia/1985-prime-foto-colori.jpg">
      <p>Una delle prime foto a colori del Rifugio (1985)</p>
    </div>
    <div class="slide">
      <img alt="Il nuovo ripostiglio in lamiera (1990)" src="/static/images/rifugio/storia/1990-ripostiglio-lamiera.jpg">
      <p>Il nuovo ripostiglio in lamiera (1990)</p>
    </div>
    <div class="slide">
      <img alt="Il nuovo telefono (Anni 90)" src="/static/images/rifugio/storia/199x-installazione-telefono.jpg">
      <p>Il nuovo telefono (1990)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-2');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<p>
Una volta sistemato l'interno del rifugio si pensò di costruire un ripostiglio in lamiera 
per sistemare i materiali di lavoro e le scorte di viveri per i quali non era possibile 
trovare spazio all'interno.
<br>
Nel 1990, con l'aiuto di un bando per la sicurezza in montagna, si riuscì ad installare un 
telefono come punto di chiamata di emergenza. 
<br>
Il giorno 12 novembre 2001, dando seguito al deliberato Assembleare, la sezione di Milano 
firmò l'atto di passaggio di proprietà alla sezione di Sovico.
</p>
<p>
In seguito, negli anni 2004-2005, dopo aver ottenuto un finanziamento da parte del fondo 
Pro Rifugi del CAI e grazie a un bando della regione Lombardia il Consiglio della sezione 
decise di effettuare un piccolo ampliamento finalizzato alla messa a norma degli impianti,
alla creazione di un bagno interno, di una cucina, di un locale gestori e di una piccola 
cantina. 
<br>
Le intenzioni del Consiglio erano quelle di effettuare un intervento che non 
snaturasse le caratteristiche originali del rifugio, che non aumentasse in modo eccessivo 
il numero di posti letto, che lasciasse un po' di riservatezza ai gestori che fino ad allora 
si trovavano a convivere nello stesso spazio dei clienti e che ponesse maggior attenzione 
all'igiene.
</p>

<div id="carousel-3" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-3');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Inaugurazione del rifugio al termine dei lavori." src="/static/images/rifugio/storia/inaugurazione.jpg">
      <p>Inaugurazione del rifugio al termine dei lavori</p>
    </div>
    <div class="slide">
      <img alt="Il rifugio al termine dei lavori." src="/static/images/rifugio/storia/200x-rifugio-finito.jpg">
      <p>Il rifugio al termine dei lavori</p>
    </div>
    <div class="slide">
      <img alt="il bivacco invernale" src="/static/images/rifugio/storia/2012-2013-bivacco.jpg">
      <p>Il bivacco invernale, completato nel 2013</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-3');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<p>Al termine dei lavori il rifugio, pur essendo notevolmente migliorato sotto ogni punto 
di vista e nonostante l'ampliamento, le riparazioni e le migliorie apportate, rimase 
ugualmente il piccolo rifugio, forse un po' spartano per chi non conosce la montagna, 
ma perfettamente integrato nel magnifico panorama delle montagne circostanti.
<br>
Nel 2012, infine, utilizzando parte del fondo Pro Rifugi del CAI e un bando di Regione Lombardia, 
si riuscì finalmente a dotare il rifugio di un bagno esterno per gli ospiti e di un bivacco 
invernale, sempre aperto, come punto di appoggio per chi volesse avventurarsi da quelle parti 
in pieno inverno o durante i periodi di chiusura del rifugio.
</p>

<hr>

<h2>Archivio fotografico</h2>


<h3>Gli ultimi lavori dal 2015 a oggi</h3>

<div id="carousel-7" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-7');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Il restauro del tetto con nuova copertura in rame" src="/static/images/rifugio/storia/lavori/f_rif_lav5_tetto.jpg">
      <p>Il restauro del tetto con nuova copertura in rame</p>
    </div>
    <div class="slide">
      <img alt="Riposizionamento del camino della stufa per un miglior tiraggio" src="/static/images/rifugio/storia/lavori/f_rif_lav5_camino.jpg">
      <p>Riposizionamento del camino della stufa per un miglior tiraggio</p>
    </div>
    <div class="slide">
      <img alt="Nuovo e più capiente filtro dei reflui" src="/static/images/rifugio/storia/lavori/f_rif_lav5_filtro.jpg">
      <p>Nuovo e più capiente filtro dei reflui</p>
    </div>
    <div class="slide">
      <img alt="Quadro elettrico potenziato per gestire le varie sorgenti di energia" src="/static/images/rifugio/storia/lavori/f_rif_lav5_q-elettrico.jpg">
      <p>Quadro elettrico potenziato per gestire le varie sorgenti di energia</p>
    </div>
    <div class="slide">
      <img alt="Installata una mini turbina idraulica per generare energia elettrica" src="/static/images/rifugio/storia/lavori/f_rif_lav5_turbina.jpg">
      <p>Installata una mini turbina idraulica per generare energia elettrica</p>
    </div>
    <div class="slide">
      <img alt="Tettoia rimuovibile per l'ingresso cucina" src="/static/images/rifugio/storia/lavori/f_rif_lav5_tettoia.jpg">
      <p>Tettoia rimuovibile per l'ingresso cucina</p>
    </div>
    <div class="slide">
      <img alt="Foto panoramica con i nome delle cime visibile dal rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav5_fotomonti.jpg">
      <p>Foto panoramica con i nome delle cime visibile dal rifugio</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-7');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>


<h3>Lavori dal 2012 al 2014: costruzione del bivacco invernale, il nuovo bagno ospiti</h3>

<div id="carousel-6" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-6');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Il trasporto delle attrezzature da cantiere presso il rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav4_trasporto.jpg">
      <p>Il trasporto delle attrezzature da cantiere presso il rifugio</p>
    </div>
    <div class="slide">
      <img alt="Inizio lavori con la rimozione di alcune rocce vicine al rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav4_scavi.jpg">
      <p>Inizio lavori con la rimozione di alcune rocce vicine al rifugio</p>
    </div>
    <div class="slide">
      <img alt="Posa del tetto in legno" src="/static/images/rifugio/storia/lavori/f_rif_lav4_tetto.jpg">
      <p>Posa del tetto in legno</p>
    </div>
    <div class="slide">
      <img alt="Vista di insieme rifugio piu bivacco" src="/static/images/rifugio/storia/lavori/f_rif_lav4_finito.jpg">
      <p>Vista di insieme rifugio piu bivacco</p>
    </div>
    <div class="slide">
      <img alt="Vista interna del bivacco" src="/static/images/rifugio/storia/lavori/f_rif_lav4_interno1.jpg">
      <p>Vista interna del bivacco</p>
    </div>
    <div class="slide">
      <img alt="Vista interna del bivacco con i 4 posti letto" src="/static/images/rifugio/storia/lavori/f_rif_lav4_interno2.jpg">
      <p>Vista interna del bivacco con i 4 posti letto</p>
    </div>
    <div class="slide">
      <img alt="La piccola diga in acciaio per la presa delle acqua" src="/static/images/rifugio/storia/lavori/f_rif_lav4_diga.jpg">
      <p>La piccola diga in acciaio per la presa delle acqua</p>
    </div>
    <div class="slide">
      <img alt=" I nuovi cassoni per coprire i bidoni dei rifiuti" src="/static/images/rifugio/storia/lavori/f_rif_lav4_cassoni.jpg">
      <p> I nuovi cassoni per coprire i bidoni dei rifiuti</p>
    </div>
    <div class="slide">
      <img alt="Nuovo generatore microeolico da abbinare a quello solare" src="/static/images/rifugio/storia/lavori/f_rif_lav4_eolico.jpg">
      <p>Nuovo generatore microeolico da abbinare a quello solare</p>
    </div>
    <div class="slide">
      <img alt="Condotte di aria calda per riscaldare la zona gestori" src="/static/images/rifugio/storia/lavori/f_rif_lav4_riscalda.jpg">
      <p>Condotte di aria calda per riscaldare la zona gestori</p>
    </div>
    <div class="slide">
      <img alt="Filtro per scarico vasca imhoff" src="/static/images/rifugio/storia/lavori/f_rif_lav4_filtro.jpg">
      <p>Filtro per scarico vasca imhoff</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-6');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<h3>Lavori di miglioramento eseguiti dal 2008 al 2011</h3>

<div id="carousel-5" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-5');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Il nuovo recinto per i rifiuti costruito è amovibile" src="/static/images/rifugio/storia/lavori/f_rif_lav3_recinto.jpg">
      <p>Il nuovo recinto per i rifiuti costruito è amovibile</p>
    </div>
    <div class="slide">
      <img alt="La potentissima stufa con il forno usato anche per fare il pane" src="/static/images/rifugio/storia/lavori/f_rif_lav3_stufa.jpg">
      <p>La potentissima stufa con il forno usato anche per fare il pane</p>
    </div>
    <div class="slide">
      <img alt="Antoni in legno per chiudere i vani sotto la balconata" src="/static/images/rifugio/storia/lavori/f_rif_lav3_antoni.jpg">
      <p>Antoni in legno per chiudere i vani sotto la balconata</p>
    </div>
    <div class="slide">
      <img alt="La nuova e più grande vasca per la raccolta dell' acqua" src="/static/images/rifugio/storia/lavori/f_rif_lav3_vasca.jpg">
      <p>La nuova e più grande vasca per la raccolta dell' acqua</p>
    </div>
    <div class="slide">
      <img alt="La posa della tubazione del nuovo impianto idraulico" src="/static/images/rifugio/storia/lavori/f_rif_lav3_tubo.jpg">
      <p>La posa della tubazione del nuovo impianto idraulico</p>
    </div>
    <div class="slide">
      <img alt="Presa di aerazione sulla porta della cucina" src="/static/images/rifugio/storia/lavori/f_rif_lav3_porta.jpg">
      <p>Presa di aerazione sulla porta della cucina</p>
    </div>
    <div class="slide">
      <img alt="Piastrellato il corridoio che porta alle camere interne" src="/static/images/rifugio/storia/lavori/f_rif_lav3_piastrella.jpg">
      <p>Piastrellato il corridoio che porta alle camere interne</p>
    </div>
    <div class="slide">
      <img alt="Ricoperto con terriccio e seminato nella zona davanti al rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav3_prato.jpg">
      <p>Ricoperto con terriccio e seminato nella zona davanti al rifugio</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-5');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<h3>Lavori eseguiti dal 2005 (l'inizio dei lavori di ampliamento) fino al 2008 (inaugurazione)</h3>

<div id="carousel-5" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-5');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Le fasi di scavo a fianco della parte preesistente" src="/static/images/rifugio/storia/lavori/f_rif_lav2_demolizioni.jpg">
      <p>Le fasi di scavo a fianco della parte preesistente</p>
    </div>
    <div class="slide">
      <img alt="Il cemento armato per le gettate portato in quota con un elicottero" src="/static/images/rifugio/storia/lavori/f_rif_lav2_elicemento.jpg">
      <p>Il cemento armato per le gettate portato in quota con un elicottero</p>
    </div>
    <div class="slide">
      <img alt="La gettata per la soletta della nuova ala del rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav2_soletta.jpg">
      <p>La gettata per la soletta della nuova ala del rifugio</p>
    </div>
    <div class="slide">
      <img alt="La costruzione dell tetto in cemento armato per reggere la neve" src="/static/images/rifugio/storia/lavori/f_rif_lav2_tetto.jpg">
      <p>La costruzione dell tetto in cemento armato per reggere la neve</p>
    </div>
    <div class="slide">
      <img alt="La costruzione quasi finita, mancano ancora le finiture interne" src="/static/images/rifugio/storia/lavori/f_rif_lav2_quasifinito.jpg">
      <p>La costruzione quasi finita, mancano ancora le finiture interne</p>
    </div>
    <div class="slide">
      <img alt="Realizzazione del nuovo pavimento nella parte vecchia" src="/static/images/rifugio/storia/lavori/f_rif_lav2_pavimento.jpg">
      <p>Realizzazione del nuovo pavimento nella parte vecchia</p>
    </div>
    <div class="slide">
      <img alt="I pannelli solari che forniscono energia elettrica al Rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav2_pannelli.jpg">
      <p>I pannelli solari che forniscono energia elettrica al Rifugio</p>
    </div>
    <div class="slide">
      <img alt="Il quadro dell'impianto elettrico che genera 220V 600W" src="/static/images/rifugio/storia/lavori/f_rif_lav2_quadro.jpg">
      <p>Il quadro dell'impianto elettrico che genera 220V 600W</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-5');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>

<h3>Lavori eseguiti dal 1984 (data di acquisizione da parte del CAI Sovico) al 2005</h3>

<div id="carousel-4" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-4');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img alt="Lavori di costruzione del primo bivacco/magazzino a lato del rifugio" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cost_bivacco.jpg">
      <p>Lavori di costruzione del primo bivacco/magazzino a lato del rifugio</p>
    </div>
    <div class="slide">
      <img alt="Il bivacco alla fine dei lavori" src="/static/images/rifugio/storia/lavori/f_rif_lav1_bivacco_finito.jpg">
      <p>Il bivacco alla fine dei lavori</p>
    </div>
    <div class="slide">
      <img alt="Il primo bagno era piccolo ma con un meraviglioso panorama" src="/static/images/rifugio/storia/lavori/f_rif_lav1_primo_bagno.jpg">
      <p>Il primo bagno era piccolo ma con un meraviglioso panorama</p>
    </div>
    <div class="slide">
      <img alt="La costruzione della piccola cucina di lamiera #1" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cucina1.jpg">
      <p>La costruzione della piccola cucina di lamiera #1</p>
    </div>
    <div class="slide">
      <img alt="La costruzione della piccola cucina di lamiera #2" src="/static/images/rifugio/storia/lavori/f_rif_lav1_cucina2.jpg">
      <p>La costruzione della piccola cucina di lamiera #2</p>
    </div>
    <div class="slide">
      <img alt="Installazione di un telefono di emergenza con ponte radio" src="/static/images/rifugio/storia/lavori/f_rif_lav1_telefono.jpg">
      <p>Installazione di un telefono di emergenza con ponte radio</p>
    </div>    
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-4');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>


<hr>
{% endblock %}