{% extends 'base.html' %}
{% block content %}

<h1> WebCam e Meteo </h1>

<p>Il rifugio è equipaggiato con due webcams e una stazione meteo.</p>

<h3>Centralina Meteo</h3>

<!--p>Ultimo aggiornamento: {{ dati_meteo['Date'] }} alle {{ dati_meteo['Time'] }}
 - Status: {{dati_meteo['Status'] }}
</p>

<h3>Temperature</h3>
<p>Temperatura: {{ dati_meteo['Temp Out'] }}°C</p>
<p>Umidita': {{ dati_meteo['Out Hum'] }}%</p>
<p>Temperatura Percepita: --- </p>

<p>Temp. Massima (oggi): {{ dati_meteo['Hi Temp'] }}°C alle ---</p>
<p>Temp. Minima (oggi): {{ dati_meteo['Low Temp'] }}°C alle ---</p>

<h3>Vento</h3>
<p>Vento: {{ dati_meteo['Wind Speed'] }} km/h da {{ dati_meteo['Wind Dir'] }}</p>
<p>Vento Medio (oggi): ---</p>
<p>Raffica massima: {{ dati_meteo['Hi Speed'] }} km/h da {{ dati_meteo['Hi Dir'] }} alle ---</p>
<p>Wind Chill: --- </p>

<h3>Precipitazioni</h3>
<p>Pioggia attuale: {{ dati_meteo['Rain Rate'] }} mm</p>
<p>Pioggia oggi: {{ dati_meteo['Rain'] }} mm</p>
<p>Pioggia massima oggi: ---</p>
<p>Pioggia mese: ---</p>
<p>Pioggia anno: ---</p>

<p>Punto di rugiada: ---°C</p>

<p>Pressione attuale: {{ dati_meteo['BAR'] }} mbar</p>
<p>Pressione massima oggi: --- mbar</p>
<p>Pressione minima oggi: --- mbar</p-->


<div class="due-colonne">
<p>
  <details>
    <summary>Dati Grezzi</summary>
    <pre>
    {{dati_meteo}}
    </pre>
  </details>
</p>
</div>

<hr>

<h3>Webcam Principale (Rifugio e Valle)</h3>
<p>La webcam principale è rivolta verso il rifugio e la valle, pensata per 
gli escursionisti che vogliono accertarsi della situazione meteo prima di partire.</p>
<p>Scatta una foto ogni ora: qui sotto puoi vedere le ultime tre foto. 
Se vuoi vederne altre, visita l'<a href="#">archivio.</a></p>

<div id="carousel-webcam1" class="carousel" data-active-slide="0">
  <a class="carousel-control" role="button" onclick="javascript:moveLeft('carousel-webcam1');">
    <p aria-hidden="true"><</p>
    <span class="sr-only">Precedente</span>
  </a>
  
  <div>
    <div class="slide active">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio.jpg">
      <p>Ultima foto</p>
    </div>
    <div class="slide">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio1.jpg">
      <p>Foto precedente (un'ora prima)</p>
    </div>
    <div class="slide">
      <img src="http://www.caisovico.it/rifugio/webcam/webcam_rif/fotorifugio2.jpg">
      <p>Foto precedente (due ore prima)</p>
    </div>
  </div>

  <a class="carousel-control" role="button" onclick="javascript:moveRight('carousel-webcam1');">
    <p aria-hidden="true">></p>
    <span class="sr-only">Successiva</span>
  </a>
</div>


<h3>Webcam Disgrazia</h3>

<p>L'altra webcam invece è rivolta verso la parete nord del Disgrazia ed è stata
installata su richiesta del <a href="https://www.servizioglaciologicolombardo.it/">
Servizio Glaciologico Lombardo</a> per monitorare il ghiacciaio. Scatta una foto
al giorno.
</p>

<img src="http://www.caisovico.it/rifugio/webcam/webcam_ghi/fotoghiacciaio.jpg">


{% endblock %}