{% extends 'base.html' %}
{% block content %}

<h1>Quando il rifugio è chiuso</h1>

<img alt="Il rifugio chiuso pronto per l'inverno" src="/static/images/rifugio/bivacco/esterno-bivacco.jpg">

<p>Ricordiamo a tutti gli escursionisti che prima di partire per raggiungere il Rifugio M.Del Grande e R.Camerini 
è possibile assicurarsi che il rifugio sia aperto chiamando il numero di telefono <b>0342.556010</b> o inviando una email 
a <a href="mailto:sezione@caisovico.it">sezione@caisovico.it</a>.<br>
Fuori dal periodo di gestione il rifugio è chiuso, ma è possibile pernottare nell'adiacente accogliente bivacco 
che è stato realizzato nel 2012. Al suo interno sono disponibili 4 letti, un tavolino, 4 sgabelli, la luce, ed 
una presa a 230vac sufficente a ricaricare un cellulare.</p>

<img alt="L'interni del Bivacco" src="/static/images/rifugio/bivacco/interno-bivacco.jpg">

<p>I letti hanno materasso, cuscino e coperte. Il bivacco, visibile nella foto quì a fianco, è costato molto 
lavoro da parte dei nostri soci ed un impegno economico notevole parzialmente coperto dai contributi della 
Regione Lombardia e del Club Alpino Italiano.<br>
Il bivacco è aperto per tutti quelli che vorranno venire a visitare il nostro piccolo rifugio fuori stagione, 
siamo certi che saprete averne cura!!!</p>

<img alt="Entrata del bivacco" src="/static/images/rifugio/bivacco/pala-bivacco.jpg">

<p>Nota: in caso di neve, sopra alla porta è posizionato un badile per potere scavare. 
La porta del bivacco è quella indicata nella foto.</p>


<div class="annuncio">
  <p>Ricordiamo a tutti gli escursionisti che visiteranno la nostra struttura durante il periodo di chiusura che 
  i propi rifiuti devono essere riportati a valle. I rifiuti lasciati attorno a causa del vento o degli animali 
  vengono sparsi tutto attorno al rifugio e in primavera dovranno essere raccolti dai nostri soci prima di poter 
  aprire il rifugio. </p>
</div>

<hr>

{% endblock %}