{% extends 'base.html' %}
{% block content %}

<h1> Il Rifugio Del Grande - Remo Camerini </h1>

<hr>

<h2>Apertura</h2>
<p>IL RIFUGIO APRIRÀ IL 27/6</p>
<p>Non è possibile il pernottamento. Locale invernale Chiuso. Solo pranzo da asporto (si consiglia la prenotazione)</p>


<hr>

<h2>Dati Tecnici</h2>
<table>
  <tbody>
    <tr align="center">
      <td colspan="2" rowspan="1">Posizione del rifugio</td>
      <td colspan="2" rowspan="1">Caratteristiche del Rifugio</td>
    </tr>
    <tr>
      <td style="width: 80px;">Altitudine</td>
      <td style="width: 320px;">2580ms/lm</td>
      <td style="width: 140px;">Costruito nel</td>
      <td style="width: 260px;">1937</td>
    </tr>
    <tr>
      <td>Massiccio</td>
      <td>Disgrazia Vazzeda</td>
      <td>Proprietà</td>
      <td>CAI SOVICO</td>
    </tr>
    <tr>
      <td>Località</td>
      <td>Bocchetta Piattè di Vazzeda</td>
      <td>Posti letto </td>
      <td>10 Ospiti+2 Brande</td>
    </tr>
    <tr>
      <td>Comune</td>
      <td>Chiesa Valmalenco (SO) - Chiareggio</td>
      <td>Locale Invernale </td>
      <td>Terminato nel 2013 4 posti letto</td>
    </tr>
    <tr>
      <td>Coordinate</td>
      <td>Lat. 46°18' 30.95"N&nbsp;&nbsp;&nbsp;Long. 9°44' 31.34"E</td>
      <td>Telefono</td>
      <td>0342 / 556010</td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Come arrivare</h2>

<p>Come raggiungere il punto di partenza a Chiareggio</p>
<p> Raggiunta la città di Sondrio si svolta verso nord seguendo le indicazioni per Chiesa in Valmalenco. 
Superato l'abitato di Chiesa si prosegue per la frazione di San Giuseppe, dopodichè proseguendo 
per una stretta strada si raggiunge l'abitato di Chiareggio.
Oltre il paese si può trovare un ampio parcheggio sul fianco del torrente Mallero.</p>

<table>
<tbody>
<tr>
      <td><a href="sentiero_alpi_vazzeda 301-305_b.pdf">Sentiero per le alpi di Vazzeda 301-305</a></td> 
      <td><a href="sentiero_alpi_vazzeda 301-305.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso classico per raggiungere il rifugio seguendo la 3ª tappa dell' Alta Via della Valmalenco</td>
</tr>
<tr>
      <td ><a href="sentiero_altavia_val_sissone av301-305_b.pdf">Sentiero alta via per la val Sissone AV301-305</a></td> 
      <td><a href="sentiero_altavia_val_sissone av301-305.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso lungo, passa sotto la parete nord del M.te Disgrazia e chiude la  3ª tappa dell' Alta Via della Valmalenco; molto panoramico in discesa</td>
</tr>
<tr>
      <td ><a href="sentiero_alpe_sissone 325_b.pdf">Sentiero per l'alpe Sissone 325</a></td> 
      <td><a href="sentiero_alpe_sissone 325.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso breve per raggiungere il rifugio, sale nel bosco dall' Alpe Laresin; presenta alcuni tratti con elevata pendenza</td>
</tr>
<tr>
      <td ><a href="anello_dei_2rifugi_b.pdf">Anello dei 2 rifugi</a></td> 
      <td><a href="anello_dei_2rifugi.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Aperto di recente, permette di raggiungere la Capanna Forno in Svizzera  e di rientrare al nostro rifugio tramite il passo Forno ed il passo Vazzeda ( per escursionisti esperti e attrezzati)a</td>
</tr>
<tr>
      <td ><a href="sentiero_del-grande_longoni 326-328-305_b.pdf"> Sentiero Del Grande Camerini - Rif Longoni</a></td> 
      <td><a href="sentiero_del-grande_longoni 326-328-305.gpx?forcedownload=1" download  ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Percorso che raggiunge il Rif. Longoni passando dall'Alpe dell'Oro senza scendere fino a Chiareggio </td>
</tr>
<tr>
      <td ><a href="sentiero_italia_tappa 291b_b.pdf"> Sentiero Italia tappa 291B</a></td> 
      <td><a href="sentiero_italia_tappa 291b.gpx?forcedownload=1" download ><img title="File GPX" src="icon-file-gpx.png" widht="40" height="30" hspace="8" align="right"></a></td>
      <td>Rifugio Gerli-Porro (1960m); Forbicina (1620m); Rifugio DelGrande Camerini (2580m); Chiareggio (1610m) </td>
</tr>
</tbody>
</table>
  
<table>
<tbody>
<tr>
    <td>Foto Rifugio da Chiareggio: <img alt="Rifugio visto da Chiareggio" src="f_rif_map_vista.jpg"></td>
</tr>
<tr>
    <td>Mappa Percorsi: <img alt="Mappa percorsi" src="carta.jpg"></td>    
</tr>
</tbody>
</table>

<hr>

<h2>Quando il rifugio e' chiuso</h2>

<p>Ricordiamo a tutti gli escursionisti che visiteranno la nostra struttura durante il periodo di chiusura che 
i propi rifiuti devono essere riportati a valle. I rifiuti lasciati attorno a causa del vento o degli animali 
vengono sparsi tutto attorno al rifugio e in primavera dovranno essere raccolti dai nostri soci prima di poter 
aprire il rifugio. </p>
<img alt="Il rifugio chiuso pronto per l'inverno" src="f_rif_foto_bivacco.jpg">
<p>Ricordiamo a tutti gli escursionisti che prima di partire per raggiungere il Rifugio M.Del Grande e R.Camerini 
è possibile assicurarsi che il rifugio sia aperto chiamando il numero di telefono 0342.556010 o inviando una email 
a sezione@caisovico.it.
Fuori dal periodo di gestione il rifugio è chiuso, ma è possibile pernottare nell'adiacente accogliente bivacco 
che è stato realizzato nel 2012. Al suo interno sono disponibili 4 letti, un tavolino, 4 sgabelli, la luce, ed 
una presa a 230vac sufficente a ricaricare un cellulare.</p>
<img alt="L'interni del Bivacco" src="f_rif_interno_bivacco.jpg">
<p>I letti hanno materasso, cuscino e coperte. Il bivacco, visibile nella foto quì a fianco, è costato molto 
lavoro da parte dei nostri soci ed un impegno economico notevole parzialmente coperto dai contributi della 
Regione Lombardia e del Club Alpino Italiano.
Il bivacco è aperto per tutti quelli che vorranno venire a visitare il nostro piccolo rifugio fuori stagione, 
siamo certi che saprete averne cura!!!</p>
<img alt="Entrata del bivacco" src="f_rif_indic_bivacco.jpg">
<p>Nota: in caso di neve, sopra alla porta è posizionato un badile per potere scavare. 
La porta del bivacco è quella indicata nella foto.</p>

<hr>

<h2>Storia del Rifugio</h2>

<table >
<tbody>
    <tr>
        <td>
Il rifugio è situato alla Bocchetta Piattè di Vazzeda (m 2580) nel gruppo Masino-Bregaglia-Disgrazia.<br> 
<a><img src="1936inizio_costruzione.jpg" ></a>
<a><img src="1937inaugurazione.jpg"></a>
Fu costruito nel 1937 da un gruppo di amici, in ricordo di Mario Del Grande, perito sulla Punta Rasica nel 1936 e di Remo Camerini, precipitato nel 1926 dal Sigaro in Grigna Meridionale, che in seguito lo donarono alla sezione del CAI di Milano.
        </td>
    </tr>
    <tr>
        <td>
<a><img src="1941Foto.jpg"></a>
<a><img src="famigliamilano1953.jpg"></a>
<br>Più volte ripristinato a seguito di atti di vandalismo e del naturale deterioramento della struttura, il bivacco, per le precarie condizioni in cui versava, non poteva essere considerato più che un punto d'appoggio in caso di maltempo.
        </td>
    </tr>
    <tr>
        <td>
Nel 1985, quel che restava del bivacco fu assegnato dal CAI di Milano ai soci del CAI di Sovico che erano in cerca di un rifugio da gestire.<br>
<a><img src="1985prime_foto.jpg" ></a>
<a><img src="1985primi_sovicesi.jpg"></a>
L'intraprendenza e la passione dei soci della piccola sezione briantea permisero, negli anni, il recupero e il costante miglioramento della struttura che all'inizio consisteva in un unico locale che ospitava la stufa, un tavolo, otto posti letto (di cui quattro su un soppalco) e un angolo per cucinare. 
        </td>
    </tr>
 <tr>
        <td>
<a><img src="1990primi_lavori.jpg" ></a>
<a><img src="anni90.jpg"></a>
Una volta sistemato l'interno del rifugio si pensò di costruire un ripostiglio in lamiera per sistemare i materiali di lavoro e le scorte di viveri per i quali non era possibile trovare spazio all'interno.
Nel 1990, con l'aiuto di un bando per la sicurezza in montagna, si riuscì ad installare un telefono come punto di chiamata di emergenza. 
        </td>
    </tr>   
    <tr>
        <td>
<br>Il giorno 12 novembre 2001, dando seguito al deliberato Assembleare, la sezione di Milano firmò l'atto di passaggio di proprietà alla sezione di Sovico.<br>
<a><img src="inaugurazione.jpg"></a>
<a><img src="rif_finito.jpg"></a>
In seguito, negli anni 2004-2005,dopo aver ottenuto un finanziamento da parte del fondo Pro Rifugi del CAI e grazie a un bando della regione Lombardia il Consiglio della sezione decise di effettuare un piccolo ampliamento finalizzato alla messa a norma degli impianti, alla creazione di un bagno interno, di una cucina, di un locale gestori e di una piccola cantina. Le intenzioni del Consiglio erano quelle di effettuare un intervento che non snaturasse le caratteristiche originali del rifugio, che non aumentasse in modo eccessivo il numero di posti letto, che lasciasse un po' di riservatezza ai gestori che fino ad allora si trovavano a convivere nello stesso spazio dei clienti e che ponesse maggior attenzione all'igiene.<br>
        </td>
    </tr>
    <tr>
        <td>
<a><img src="bivacco.jpg"></a>
<br>Al termine dei lavori il rifugio, pur essendo notevolmente migliorato sotto ogni punto di vista e nonostante l'ampliamento, le riparazioni e le migliorie apportate, rimase ugualmente il piccolo rifugio, forse un po' spartano per chi non conosce la montagna, ma perfettamente integrato nel magnifico panorama delle montagne circostanti.<br><br>Nel 2012, infine, utilizzando parte del fondo Pro Rifugi del CAI e un bando di Regione Lombardia, si riuscì finalmente a dotare il rifugio di un bagno esterno per gli ospiti e di un bivacco invernale, sempre aperto, come punto di appoggio per chi volesse avventurarsi da quelle parti in pieno inverno o durante i periodi di chiusura del rifugio.
        </td>
    </tr>   
</tbody>
</table>




{% endblock %}