{% extends 'base.html' %}
{% block content %}

<h1> Il Rifugio Del Grande - Remo Camerini </h1>

<div class="annuncio">
  <h2>IL RIFUGIO APRE IL 27/6/2020!</h2>
  <p>Non è possibile il pernottamento. Locale invernale chiuso. Solo pranzo da asporto (si consiglia la prenotazione)</p>
</div>

<p>
Il <b>Rifugio Mario Del Grande - Remo Camerini</b> si trova a 2580 m. 
sullo spartiacque tra Val Sissone e Val Bona in alta Valmalenco, nei pressi di Chiareggio (SO).
</p>
<p>
Il rifugio si trova su una magnifica balconata con splendida vista della parete nord del Monte Disgrazia.
È di proprietà della sezione CAI di Sovico (MB), ed è gestito durante l'estate all'anno da soci volontari 
che si alternano settimanalmente.
</p>

<p>Clicca sul menu per ulteriori informazioni su <a href="/rifugio/percorsi">come raggiungerci</a>, 
oppure visita i profili social su 
<a href="https://www.facebook.com/Rifugio-Del-Grande-Camerini-897206810341504/">Facebook</a> e 
<a href="https://www.instagram.com/rifugiodelgrandecamerini/">Instagram</a>.
Siamo anche su 
<a href="https://www.tripadvisor.com/Hotel_Review-g194736-d15697051-Reviews-Rifugio_del_Grande_Camerini-Chiesa_In_Valmalenco_Province_of_Sondrio_Lombardy.html">Tripadvisor</a>! 
In ogni caso, il modo migliore per contattarci è scrivere al nostro <a href="mailto:webmaster@caisovico.it">indirizzo email</a>.</p>

<p>Durante la stagione di apertura e anche possibile contattarci per telefono al <b>0342 556010</b>.</p> 

<img src="/static/images/rifugio-foto-homepage.jpg">


<h2>Dati Tecnici</h2>

<div class="due-colonne">

<table>
  <tr>
    <td>Altitudine:</td>
    <td>2580ms/lm</td>
  <tr>
  </tr>
    <td>Massiccio:</td>
    <td>Disgrazia Vazzeda</td>
  <tr>
  </tr>
    <td>Località:</td>
    <td>Bocchetta Piattè di Vazzeda</td>
  <tr>
  </tr>
    <td>Comune:</td>
    <td>Chiareggio (SO)</td>
  <tr>
  </tr>
    <td>Coordinate (Lat):</td>
    <td>46°18' 30.95"N</td>
  </tr>
  </tr>
    <td>Coordinate (Long):</td>
    <td>9°44' 31.34"E</td>
  </tr>
</table>

<table>
  <tr>
    <td>Costruito nel:</td>
    <td>1937</td>
  <tr>
  </tr>
    <td>Proprietà:</td>
    <td>CAI SOVICO</td>
  <tr>
  </tr>
    <td>Posti letto:</td>
    <td>10 + 2 brande</td>
  <tr>
  </tr>
    <td>Bivacco:</td>
    <td>4 posti letto</td>
  <tr>
  </tr>
    <td>Telefono:</td>
    <td>0342 / 556010</td>
  </tr>
</table>

</div>

<hr>
{% endblock %}