{% extends 'rifugio.html' %}
{% block content %}

<h1>Come Raggiungere il Rifugio</h1>

<h3>1. Come raggiungere il punto di partenza a Chiareggio</h3>

<p>
Raggiunta la città di Sondrio si svolta verso nord seguendo le indicazioni per Chiesa in Valmalenco. 
Superato l'abitato di Chiesa si prosegue per la frazione di San Giuseppe, dopodichè proseguendo 
per una stretta strada si raggiunge l'abitato di Chiareggio.
Oltre il paese si può trovare un ampio parcheggio sul fianco del torrente Mallero.
</p>
<p>Clicca qui per vedere la posizione esatta su 
<a href="https://goo.gl/maps/48k7zuNuV8icgjDa8">Google Maps</a> e su 
<a href="https://www.openstreetmap.org/?mlat=46.31367&mlon=9.77857#map=18/46.31367/9.77857">OpenStreetMaps</a>.</p>

<img src="/static/images/rifugio/rifugio-visto-da-chiareggio.jpg">

<h3>2. I sentieri</h3>

<p>Una volta raggiunto il punto di partenza, si possono seguire diversi sentieri:

<ul>

<li><p>
  <a href="/static/assets/pdf/sentiero_alpi_vazzeda 301-305_b.pdf">Sentiero per le alpi di Vazzeda 301-305</a>     (scarica in
  <a href="/static/assets/gpx/sentiero_alpi_vazzeda 301-305.gpx?forcedownload=1" download >gpx</a>)<br>
  Percorso classico per raggiungere il rifugio seguendo la 3ª tappa dell' Alta Via della Valmalenco.
</p></li>
<li><p>
  <a href="/static/assets/pdf/sentiero_altavia_val_sissone av301-305_b.pdf">Sentiero alta via per la val Sissone AV301-305</a>     (scarica in
  <a href="/static/assets/gpx/sentiero_altavia_val_sissone av301-305.gpx?forcedownload=1" download >gpx</a>)<br>
  Percorso lungo, passa sotto la parete nord del M.te Disgrazia e chiude la  3ª tappa dell' 
  Alta Via della Valmalenco. Molto panoramico in discesa.
</p></li>
<li><p>
  <a href="/static/assets/pdf/sentiero_alpe_sissone 325_b.pdf">Sentiero per l'alpe Sissone 325</a>     (scarica in
  <a href="/static/assets/gpx/sentiero_alpe_sissone 325.gpx?forcedownload=1" download >gpx</a>)<br>
  Percorso breve per raggiungere il rifugio, sale nel bosco dall' Alpe Laresin. Presenta alcuni tratti con elevata pendenza.
</p></li>

</ul>
</p>

<h3>3. Anelli e altri sentieri</h3>

<p>Nonostante la sua posizione apparentemente isolata, il Rifugio del Grande fa parte dell'Alta Via della Valmalenco
e da esso partono percorsi diretti verso altri rifugi della zona.

<ul>

<li><p>
  <a href="/static/assets/pdf/anello_dei_2rifugi_b.pdf">Anello dei 2 rifugi</a>     (scarica in
  <a href="/static/assets/gpx/anello_dei_2rifugi_b.gpx?forcedownload=1" download >gpx</a>)<br>
  Aperto di recente, permette di raggiungere la Capanna Forno in Svizzera e di rientrare al nostro rifugio tramite 
  il passo Forno ed il passo Vazzeda. <b>Adatto a escursionisti esperti e attrezzati</b>.
</p></li>
<li><p>
  <a href="/static/assets/pdf/sentiero_del-grande_longoni 326-328-305_b.pdf"> Sentiero Del Grande Camerini - Rif Longoni</a>     (scarica in
  <a href="/static/assets/gpx/sentiero_del-grande_longoni 326-328-305_b?forcedownload=1" download >gpx</a>)<br>
  Percorso che raggiunge il Rif. Longoni passando dall'Alpe dell'Oro senza scendere fino a Chiareggio.
</p></li>
<li><p>
  <a href="/static/assets/pdf/sentiero_italia_tappa 291b_b.pdf"> Sentiero Italia tappa 291B</a>     (scarica in
  <a href="/static/assets/gpx/sentiero_italia_tappa 291b_b?forcedownload=1" download >gpx</a>)<br>
  Rifugio Gerli-Porro (1960m); Forbicina (1620m); Rifugio DelGrande Camerini (2580m); Chiareggio (1610m)
</p></li>

</ul>
</p>

<img alt="Mappa percorsi" src="/static/images/rifugio/cartina-sentieri.jpg">

<hr>
{% endblock %}