{% extends 'base.html' %}
{% block content %}

<h1> Sezione </h1>

<div class="annuncio">
  <p>La sede CAI riaprirà parzialmente il 3 e 17 Luglio esclusivamente per il tesseramento 2020. 
  Presentarsi con la mascherina indossata.</p>
</div>

<div class="due-colonne">
    <div>
        <h5>Indirizzo</h5>
        <p>
        Viale Brianza<br>
        Ex Serra Tagliabue<br>
        20845 SOVICO (MB)<br>
        </p>
        <p>
            <a href="https://goo.gl/maps/emRmT1iGbbAoJruq9">Su Google Maps</a><br>
            <a href="https://osm.org/go/0CjWeGqLV?m=">Su OpenStreetMap</a>
        </p>
        <h5>Indirizzo E-Mail</h5>
        <p><a href="mailto:sezione@caisovico.it">sezione@caisovico.it</a></p>
    </div>

    <div>
        <h5>Presidente</h5>
        <p>Vertemati Stefano<br>
            039-2013512
        </p>
        <h5>Vice Presidente</h5>
        <p>Ferloni Antonio<br>
            320 8429693
        </p>
    </div>
</div>

<img alt="Sede attuale della sezione" src="/static/images/sezione/f_sez_sede.jpg">
<p class="descrizione-foto">La sede attuale della sezione</p>

<h2>Incarichi di Sezione</h2>
<div class="due-colonne">
    <p><b>Presidente:</b></p> 	
    <p>Stefano Vertemati</p>

    <p><b>Vice presidente:</b></p> 	
    <p>Antonio Ferloni</p>

    <p><b>Segretario:</b></p> 
    <p>Stefano Sala</p>

    <p><b>Revisori dei conti:</b></p> 	
    <p>Daniele Beccalli,  Canzi Daniela,   Paolo Zanzottera</p>

    <p><b>Responsabile attività escursionistiche:</b></p> 
    <p>Liliana Saini</p>

    <p><b>Responsabile del rifugio:</b></p> 	
    <p>Giorgio Chiusi</p>

    <p><b>Aiuto responsabile rifugio:</b></p>  	
    <p>Paolo Zanzottera</p>

    <p><b>Responsabile Alpinismo:</b></p>  	
    <p>Stefano Schirru</p>

    <p><b>Ispettore del Rifugio:</b></p>  	
    <p>Angelo Canzi</p>

    <p><b>Responsabile Manifestazioni:</b></p>  	
    <p>Roberto Piazza</p>

    <p><b>Sito Internet:</b></p> 	
    <p>Paolo Zanzottera</p>
    
    <p><b>Gestione del rifugio:</b></p>  	
    <p>A turno settimanali di soci CAI</p>
</div>

{% endblock %}