body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ccc;
  background: url("/caiprenota/static/images/vazzeda.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-signin {
  max-width: 400px;
  padding: 5px 50px 10px 50px;
  margin: 0 auto;
  background:#ccd;
}
.form-signin-heading{
    font-size: 14pt;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary{
    margin-bottom: 20px;
}
