{% extends 'en/base.html' %}
{% block content %}

<h1>When the Hut is closed</h1>

<img alt="Il rifugio chiuso pronto per l'inverno" src="/static/images/rifugio/bivacco/esterno-bivacco.jpg">

<p>We remind all hikers that before heading for the hut M. Del Grande - R.Camerini it is better to check 
if the hut is open by calling the phone number <b>+390342556010</b> or sending an email to 
<a href="mailto:sezione@caisovico.it">sezione@caisovico.it</a>.

Out of the opening season the hut is closed, but it is possible to stay in the comfortable winter room, 
built in 2012. Inside there are 4 beds, a little table, 4 stools, electric lights and a 230V socket, 
useful for charging a cell phone (USB chargers present on the socket).
</p>

<img alt="L'interni del Bivacco" src="/static/images/rifugio/bivacco/interno-bivacco.jpg">

<p>Beds have mattresses, pillows and blankets.The inside of the bivouac is visible in the photo. 
It required a lot of work by our members and was a huge economic burden for us, partially covered by 
Regione Lombardia and the Italian Alpine Club.
<br>
The winter room is open to everyone who wants to come and visit our little hut out from the opening 
season, we are confident you will take care of it!!!</p>

<img alt="Entrata del bivacco" src="/static/images/rifugio/bivacco/pala-bivacco.jpg">

<p>Note: in case of a huge amount of snow, above the door there is a shovel that can be used to 
remove the snow in front of the door. The position of the door of the winter room is indicated 
in the photo.</p>


<div class="annuncio">
  <p>We want to remind to all visitors that will visit our hut during the closing time that <b>all 
  the rubbish must be brought back in the valley</b>. 
  <br>
  The rubbish left near the hut is dispersed by the wind and the animals all around the hut, 
  and the volunteers must collect it before opening the hut. We ask you to help us in makeing 
  this annoying work easier, avoiding to left your rubbish in the wild and in the hut. Thanks. 
  </p>
</div>

{% endblock %}