{% extends 'en/base.html' %}
{% block content %}

<h1>The History of the club</h1>

<div class="due-colonne">
    <p>
    The Italian Alpine Club has a long history in our country. 
    In 1946 the Sovico's branch was officially founded 
    as part of the Section of Monza: it was a wonderful 
    period for alpinism thanks to clubs such as the "SPIDERS" from Lecco 
    and "PELL OSS" from Monza. Some of their members, such as 
    Andrea Oggioni, actively took part in Sovico's meetings 
    in their headquarters in the "La Torre" hotel.
    <br>
    The branch  was later dissolved in 1964 and the participants 
    joined other branches.
    <br>
    However, in 1979, a group of members of the former section 
    founded the "Edelweiss Hikers Club" to spread the passion 
    for the mountains. They organized hikes, 
    ski championship, and the pose of the statue representing Madonna it was 
    blessed by Don Carlo Gussoni near the fireplace in the Folat July 20, 1980.
    </p>

    <div>
        <img src="/static/images/sezione/f_sez_edelweiss.jpg">
        <p class="descrizione-foto">The logo of the "Edelweiss Hikers Club"</p>
    </div>
</div>

<div class="due-colonne">
    <p>
    In 1984 Giuseppe Cazzaniga from Edelweiss informed all the members 
    that the CAI of Milan was looking for managers trying for a little 
    hut in Valmalenco, called Refuge "Del Grande-Camerini". The Edelweiss 
    promoted registrations until they got more than 100 members and they 
    were finally able to be recognized as a new section of CAI by the 
    headquarters in February 11, 1985. In 2010 the Section of Sovico 
    celebrated the 25th anniversary, the presidents that have occurred 
    over time, are: Enrico Ferrario, Francesco Riva, Pietro Villa, 
    Sergio Mariani, Nino Rossi, Stefano Vertemati until the current 
    President Valter Zorloni.
    <br>
    Some important figures in the history of our Section were: Enrico Ferrario, 
    first President of the branch, the geologist Arturo Riva, Pietro Villa, 
    president of Edelweiss. Another important character is Enrico Resnati with 
    his great passion for the mountains, who died on Resegone in 1966. 
    </p>

    <div>
        <img src="/static/images/sezione/f_sez_madonna3sig.jpg">
        <p class="descrizione-foto">The statue of Mary on Pizzo Tre Signori</p>
    </div>
</div>

{% endblock %}