<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - CAI Sovico</title>
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='javascript/jQuery/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}"></script>

</head>
<body style="margin:20px;">
    
    <h2>{{ title }}</h2>
    <hr>
    
    <p>Dal {{ form.inizio.data }} al {{ form.fine.data }} ci sono in totale <b>{{ num_prenotazioni }} prenotazioni</b>.</p>
    
    <div class="noprint">
      <a class="btn btn-default" href="javascript:window.print()">Stampa la pagina</a>
      <a class="btn btn-default" href="{{ url_for('prenotazioni') }}">Cambia Date</a>
      <a class="btn btn-default" href="{{ url_for('index') }}">Torna Indietro</a>
    </div>

    <h3>Calendario:</h3>
    <table class="table table-bordered calendario" style='border:1px solid black;'>
        
      {% for giorno, prenotazioni in calendario.items() %}
        <tr>
            <td class="warning">{{ giorno.strftime("%d %b").title() }}</td>
            {% set posti_occupati = 0 %}
            {% for prenotazione in prenotazioni %}
                {% set posti_occupati = posti_occupati + prenotazione.posti %}
                {% for posto in prenotazione.posti %}
                <td>N.{{ prenotazione.id }}</td>
                {% endfor %}
            {% endfor %}
            {% for posto_libero in range(16-posti_occupati) %}
                <td></td>
            {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <hr>

    <h3>Lista Clienti:</h3>

    <table class="table table-bordered">
      <tr class="active">
        <td>N.</td>
        <td>Nome Cliente</td>
        <td>Num. Telefono</td>
        <td>Provincia</td>
        <td>Data Arrivo</td>
        <td>Data Partenza</td>
        <td>Durata Soggiorno</td>
        <td>Posti Prenotati</td>
        <td>Nome Responsabile</td>
        <td>Note</td>
        <td>Cane?</td>
    </tr>
        
    {% for prenotazione in lista_prenotazioni %}
    <tr>
        <td>{{ prenotazione.id }}</td>
        <td>{{ prenotazione.nome }}</td>
        <td>{{ prenotazione.telefono }}</td>
        <td>{{ prenotazione.provincia }}</td>
        <td>{{ prenotazione.arrivo }}</td>
        <td>{{ prenotazione.arrivo + prenotazione.durata }}</td>
        <td>{{ prenotazione.durata }}</td>
        <td>{{ prenotazione.posti }}</td>
        <td>{{ prenotazione.responsabile }}</td>
        <td>{{ prenotazione.note }}</td>
        <td>{{ prenotazione.cane }}</td>
    <tr>
    {% endfor %} 
  </table>
    
  <a class="btn btn-default" href="{{ url_for('index') }}">Torna Indietro</a>

</body>
</html>
