:root {
  --sidebar-width: 300px;
  --navbar-height: 70px;
  --background-color:  white; /*#ddeeff*/;
  --main-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Raleway', sans-serif;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/static/assets/images/sfondo.jpg");
}

#container {
  max-width: 1300px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-only {
  display:none;
}


/* The sidebar menu */
#sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--sidebar-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /*top: 0; /* Stay at the top */
  /*left: 0; /* Stay to the left */
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: right;
  background-color: white;
}

#sidenav .title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#sidenav .title h1 {
  font-size: 25px;
  font-weight: 500;
}

#sidenav .title .mobile-title {
  font-size: 30px;
  font-weight: 500;
  display: none;
}

#sidenav .title img {
  padding: 20% 20% 5% 20%;
  width: 60%;
}

#menu {
  /* vertical centering */
  padding: 5%;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* font */ 
  font-family: 'Raleway', sans-serif;
}

#menu a.principale {
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  padding: 10px;
}

#menu a.secondario {
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  display: block;
  padding: 5px;
}

#menu a.selected{
  font-weight: 700;
}

/* When you mouse over the navigation links, change their color */
#menu a:hover {
  font-weight: 700;
}

#footer {
  /* anchor to bottom */
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding: 15px;
  /* font */ 
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#footer p {
  margin-bottom: 0.5rem;
}

#footer hr {
  border: 1px solid #bbccdd;
  margin-bottom: 20px;
}



/* Style page content */
#main {
  min-height: 90vh;
  margin-left: var(--sidebar-width);
  padding: 5vh;
  background-color: white;
}

#main h1 {
  text-align:center;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 3rem;
}

#main h2 {
  text-align:center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 2rem;
}

#main h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 1rem;
}

#main h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
}

hr {
  margin: 2rem;
  border: 1px solid #cccccc;
}

#main p,
#main a,
#main li {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 2rem;
}

#main ul,
#main ol {
  padding-left: 3rem;
}

#main img,
#main video {
  width: 90%;
  height: auto;
  margin: 5%;
}

#main .due-colonne{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
#main .due-colonne *{
  max-width: 85%;
}

#main .evento{
  margin-bottom: 2rem;
}
#main .evento p {
  line-height: 1.2rem;
}
#main .data{
  font-style: italic;
  font-size: 18px;
}

#main table{
  max-width: 90vw;
}

#main td,
#main th{
  font-size: 20px;
  line-height: 2rem;
  padding-right: 1rem;
}

#main p.descrizione-foto {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #333;
  font-size: 18px;
}

#main .annuncio {
  padding: 2rem;
  background-color: #fbf8d4;
  border-radius: 5px;
  border: 1px solid #e0ddbd;
  box-shadow: 0 0 10px 0 rgba(100, 50, 0, 0.3);
  margin-bottom: 5%;
}

#main .annuncio p {
  font-size: 25px;
}

#main .annuncio h2 {
  font-size: 30px;
}

.http-error {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/static/assets/images/disegno-rifugio.png");

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;

  margin: 5vh -5vh;
}
.http-error div { 
  padding: 1rem; 
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#bacheca {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#bacheca h2 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#bacheca .box{
  margin:10px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;  /* to transition smoothly on mouse out */
}

#bacheca .box:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

#bacheca .manifesto .testo {
  position: relative;
  z-index: 2;
  background-color: white;
  margin-top: -30%;
  padding:20px 25px;
}

#bacheca .manifesto img {
  margin:0;
  padding: 0;
  width:100%;
}

#bacheca div.postit {
  font-weight: 500;
  font-style: italic;
  margin:10px;
  padding:20px 25px;
  border-radius: 4px;
  background-color: #ffeebb;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#prenotazioni{
  margin: -4vh;
  height: 98vh;
  display: flex;
  flex-direction: column;
}
#prenotazioni h1 {
  margin: 1rem;
}
#prenotazioni .table-container{
  height:70vh;
  flex-grow: 1; /* stretches to occupy all the available space */
  border: 1px solid #ccc;
}
#prenotazioni table {
  max-width: 100%;
  width:100%;
  border-collapse: collapse;
}
#prenotazioni td,
#prenotazioni th {
  border: 1px solid white;
  vertical-align: center;
  padding: 0.5rem 1rem;
}
#prenotazioni th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: rgb(221, 221, 221);
}
#prenotazioni th.gestore {
  background-color: rgb(226, 202, 156);
}
#prenotazioni tbody > tr > :nth-child(2){
  background-color: rgb(255, 242, 218);
}
#prenotazioni th.letto {
  background-color: rgb(148, 230, 155);
}
#prenotazioni tbody > tr > :nth-child(n+3):nth-last-child(n+7){
  background-color: rgb(189, 246, 194);
}
#prenotazioni th.emergenza {
  background-color: rgb(233, 163, 163);
}
#prenotazioni tbody > tr > :nth-child(n+13):nth-last-child(n){
  background-color: rgb(252, 206, 206);
}

#prenotazioni .footer {
  padding: 1rem;
  text-align: center;
}


.error{
  padding: 2rem;
  background-color: #ffc5c3;
  border-radius: 5px;
  border: 1px solid #e0ada8;
  box-shadow: 0 0 10px 0 rgba(100, 0, 0, 0.3);
  margin-bottom: 5%;
  color: rgb(100, 0, 0);
}
.solo-bordi {
  border-collapse: collapse;
  width:100%;
}
.solo-bordi td,
.solo-bordi th {
  border: 1px solid #ddd;
  padding:0.5rem;
}
.prima-colonna-grigia tbody > tr > :nth-child(1){
  background-color: #f5f5f5;
}
.prima-riga-grigia th{
  font-weight: 500;
  background-color: #f5f5f5;
}


@media (max-width: 800px) {

  #sidenav {
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    text-align: right;
    background-color: #ddeeff;

    transition: height 0.3s ease-in-out;
  }

  #sidenav .title {
    height: var(--navbar-height);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #sidenav .title img,
  #sidenav .title h1,
  #menu,
  #footer {
    display: none;
  }

  #sidenav .title h1.mobile-only {
    display: flex !important;
    margin-left: 5%;
  }

  #sidenav .title img.mobile-only {
    display: flex;
    width: var(--navbar-height);
    height: var(--navbar-height);
    margin:0;
    padding:0;
    margin-right: 1%;
  }
  
  #main {
    margin-top: 60px;
    margin-left: 0;
    min-height: calc(100vh - 10vh - 60px);
  }
  #prenotazioni {
    height:80vh;
    margin: calc(-5vh + 3%) calc(-5vh + 1%) 0 calc(-5vh + 1%);
  }
  #prenotazioni tbody{
    height:calc(80vh - 4rem);
  }

  .http-error {
    background: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
  }
  .http-error div { 
    box-shadow: none;
  }
  
  .btn span{
    display:none;
  }

} 