:root {
  --sidebar-width: 300px;
  --navbar-height: 70px;
  --background-color:  white; /*#ddeeff*/;
  --main-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #dddddd;
}

/*
body {
  background-attachment: fixed;
  background-image: url("/static/images/background-alpe-vazzeda.jpg");
}


html {
  margin-top:12vh;
}

body {
  background-image: url("/static/images/background-alpe-vazzeda.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.mountains {
  z-index: 10;
  position: absolute;
  top:0;
  right:-1000px;
  left:-1000px;
  height: 12vh;
  overflow: hidden;
}

.mountains img{
  height: 12vh;
  margin-right: -5px;;
}

.mountains .background {
  z-index: -1;
  position: fixed;
  top:0;
  right:0;
  left:0;
  height: 7vh;
  background-color: #ddeeff;
}

#container {
  max-width: 1300px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin: 20px;
  border: 1px solid black;
}

.mobile-only {
  display:none;
}


/* The sidebar menu */
#sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--sidebar-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /*top: 0; /* Stay at the top */
  /*left: 0; /* Stay to the left */
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: right;
  background-color: white;
}

#sidenav .title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#sidenav .title h1 {
  font-size: 25px;
  font-weight: 500;
}

#sidenav .title .mobile-title {
  font-size: 30px;
  font-weight: 500;
  display: none;
}

#sidenav .title img {
  padding: 20% 20% 5% 20%;
  width: 60%;
}

#menu {
  /* vertical centering */
  padding: 5%;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* font */ 
  font-family: 'Raleway', sans-serif;
}

#menu h2,
#menu a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}

#menu a {
  padding: 10px;
}

/* When you mouse over the navigation links, change their color */
#menu a:hover {
  font-weight: 700;
}

#footer {
  /* anchor to bottom */
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding: 15px;
  /* font */ 
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#footer p {
  margin-bottom: 0.5rem;
}

#footer hr {
  border: 1px solid #bbccdd;
  margin-bottom: 20px;
}

/* Style page content */
#main {
  min-height: 90vh;
  margin-left: var(--sidebar-width);
  padding: 5vh;
  background-color: white;
}

#main h1 {
  width: 100%;
  text-align:center;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 2rem;
}

#main p {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 2rem;
}

#main img {
  width: 90%;
  padding: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30%;
}

.highlight {
  margin: 3%;
  padding: 5%;
  background-color: #ffeeaa;
}

#bacheca {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#bacheca h2 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#bacheca .box{
  margin:10px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;  /* to transition smoothly on mouse out */
}

#bacheca .box:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

#bacheca .manifesto .testo {
  position: relative;
  z-index: 2;
  background-color: white;
  margin-top: -30%;
  padding:20px 25px;
}

#bacheca .manifesto img {
  margin:0;
  padding: 0;
  width:100%;
}

#bacheca div.postit {
  font-weight: 500;
  font-style: italic;
  margin:10px;
  padding:20px 25px;
  border-radius: 4px;
  background-color: #ffeebb;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}


@media (max-width: 800px) {

  #sidenav {
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    text-align: right;
    background-color: #ddeeff;

    transition: height 0.3s ease-in-out;
  }

  #sidenav .title {
    height: var(--navbar-height);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #sidenav .title img,
  #sidenav .title h1,
  #menu,
  #footer {
    display: none;
  }

  #sidenav .title h1.mobile-only {
    display: flex !important;
    margin-left: 5%;
  }

  #sidenav .title img.mobile-only {
    display: flex;
    width: var(--navbar-height);
    height: var(--navbar-height);
    margin:0;
    padding:0;
    margin-right: 1%;
  }
  
  #main {
    margin-top: 60px;
    margin-left: 0;
  }
} 