    <!-- ABOUT ALERT -->
    <div class="modal fade" id="About_Modal" tabindex="-1" role="dialog" aria-labelledby="About_ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
            <div class="modal-header center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">CAI Prenota</h2>
            </div>
            <div class="modal-body center">
                
                <p>Questo sito è online da Aprile 2016 si trova attualmente alla sua versione</p>
                <h3>4.0.0</h3>
                <p><br>Se avete riscontrato dei problemi nell'utilizzo di questo sito 
                siete pregati di contattare il webmaster dei CAI Sovico all'indirizzo:</p>
                <p><b>webmaster@caisovico.it</b></p>
                <hr>
                <p>Progettato e realizzato da</p>
                <h5><a href="https://cn.linkedin.com/in/zansara/it"><b>Sara Zanzottera</b></a></h5>
                
                <div class="modal-footer center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
            
            </div>
        </div>
    </div>