<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login Area Riservata - CAI Sovico</title>
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/loginStyle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/calendarStyle.css') }}" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='javascript/jQuery/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

  </head>

  <body class="text-center" >
    <div style="width:100%;color:#eee;margin-bottom:20px;">
        <h1 style="font-size:40pt;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Area Riservata</h1>
    </div>
    <div class="container">

      <form class="form-signin text-center shadow1" method='post'>
        {{ form.csrf_token }}
        <h3 class="form-signin-heading">Inserisci le tue credenziali</h3>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        {% for error in form.username.errors %}
            <div class="alert alert-danger"><p style="color:#e00;">{{ error }}</p></div>
        {% endfor %}
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        {% for error in form.password.errors %}
            <div class="alert alert-danger"><p style="color:#e00;">{{ error }}</p></div>
        {% endfor %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
          {% if messages|length > 1 %}
          <ul>
              {% for message in messages %}
              <li><p style="color:#e00;">{{ message }}</p></li>
              {% endfor %}
          </ul>
          {% else %}
          <p style="color:#e00;">{{ messages[0] }}</p>
          {% endif %}
        </div>
        {% endif %}
        {% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
      </form>
    </div>

  </body>
</html>

